@import "./item-sheet.less";
@import "./character-sheet.less";

#logo:lang(en) {
    content: url("art/ui/logo-en.webp");
    width: 200px;
    height: auto;
}

#logo:lang(se) {
    content: url("art/ui/logo-se.webp");
    width: 200px;
    height: auto;
}

.system-dragonbane {
    background-image: url(art/ui/dragonbane.jpg);
}