#logo:lang(en) {
    content: url("art/ui/logo-en.webp");
    width: 200px;
    height: auto;
}

#logo:lang(se) {
    content: url("art/ui/logo-se.webp");
    width: 200px;
    height: auto;
}

.DoD.sheet.item {
    form {
        display: flex;
        flex-direction: column;

    }
    .sheet-content {
        height: 100%;
        display: flex;    
        flex-direction: column;
        .editor {
            height: 100%;
        }
    }
}