{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "font-family-name-quotes": "always-where-recommended",
    "rule-empty-line-before": "always-multi-line",
    "no-empty-source": null,
    "shorthand-property-no-redundant-values": null,
    "no-descending-specificity": null
 }
}