.DoD.sheet.item form,
.DoD.sheet.active-effect-sheet form {
  display: flex;
  flex-direction: column;
  font-family: QTFrizQuad;
}
.DoD.sheet.item .window-content,
.DoD.sheet.active-effect-sheet .window-content {
  background: url(art/ui/item-sheet-bg.webp) repeat;
  background-position: top center;
  padding: 0px;
}
.DoD.sheet.item .sheet-header,
.DoD.sheet.active-effect-sheet .sheet-header {
  padding: 8px;
}
.DoD.sheet.item .sheet-header h1,
.DoD.sheet.active-effect-sheet .sheet-header h1 {
  background-image: url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/title-bar.webp");
  background-position: left center, right center, center center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: contain, contain, contain;
  background-clip: border-box, border-box, content-box;
  padding-left: 48px;
  padding-right: 48px;
}
.DoD.sheet.item .sheet-header input,
.DoD.sheet.active-effect-sheet .sheet-header input {
  color: whitesmoke;
  text-align: center;
  border: 0px;
}
.DoD.sheet.item .sheet-header img,
.DoD.sheet.active-effect-sheet .sheet-header img {
  border-color: transparent;
}
.DoD.sheet.item .sheet-content,
.DoD.sheet.active-effect-sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-position: center top, center bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: auto 12px, auto 12px;
  padding-bottom: 0px;
}
.DoD.sheet.item .sheet-content .sheet-tabs,
.DoD.sheet.active-effect-sheet .sheet-content .sheet-tabs {
  width: 100%;
  background-image: url("art/ui/table-row-banner.webp");
  background-repeat: repeat-x;
  background-clip: border-box;
  background-size: auto 100%;
  border-color: transparent;
}
.DoD.sheet.item .sheet-content .sheet-body,
.DoD.sheet.active-effect-sheet .sheet-content .sheet-body {
  padding: 0px 8px 0px 8px;
}
.DoD.sheet.item .sheet-content input:invalid,
.DoD.sheet.active-effect-sheet .sheet-content input:invalid {
  color: red;
}
.DoD.sheet.item .sheet-content input:valid,
.DoD.sheet.active-effect-sheet .sheet-content input:valid {
  color: black;
}
.DoD.sheet.item .sheet-content .item-table,
.DoD.sheet.active-effect-sheet .sheet-content .item-table {
  border: 0px;
  background: none;
}
.DoD.sheet.item .sheet-content .item-table th,
.DoD.sheet.active-effect-sheet .sheet-content .item-table th {
  text-align: center;
  padding-left: 12px;
  padding-right: 0px;
}
.DoD.sheet.item .sheet-content .item-table th:last-child,
.DoD.sheet.active-effect-sheet .sheet-content .item-table th:last-child {
  padding-right: 20px;
}
.DoD.sheet.item .sheet-content .item-table tr:nth-child(1n+2),
.DoD.sheet.active-effect-sheet .sheet-content .item-table tr:nth-child(1n+2) {
  background-image: url("art/ui/table-row-left.webp"), url("art/ui/table-row-right.webp"), url("art/ui/table-row-banner.webp");
  background-position: left center, right center, center center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: contain, contain, contain;
  background-clip: border-box, border-box, padding-box;
  border-left: 8px transparent;
  border-right: 8px transparent;
}
.DoD.sheet.item .sheet-content .item-table tr:nth-child(1n+2) td,
.DoD.sheet.active-effect-sheet .sheet-content .item-table tr:nth-child(1n+2) td {
  text-align: center;
  padding-left: 16px;
  padding-right: 0px;
}
.DoD.sheet.item .sheet-content .item-table tr:nth-child(1n+2) td input,
.DoD.sheet.active-effect-sheet .sheet-content .item-table tr:nth-child(1n+2) td input {
  border: 0px;
  background: transparent;
}
.DoD.sheet.item .sheet-content .item-table tr:nth-child(1n+2) td:nth-child(1n+2),
.DoD.sheet.active-effect-sheet .sheet-content .item-table tr:nth-child(1n+2) td:nth-child(1n+2) {
  background-image: url("art/ui/table-row-separator.webp");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.DoD.sheet.item .sheet-content .item-table tr:nth-child(1n+2) td:last-child,
.DoD.sheet.active-effect-sheet .sheet-content .item-table tr:nth-child(1n+2) td:last-child {
  padding-right: 20px;
}
.DoD.sheet.item .sheet-content .item-table tr:nth-child(1n+2) select,
.DoD.sheet.active-effect-sheet .sheet-content .item-table tr:nth-child(1n+2) select {
  border: 0px;
}
.DoD.sheet.item .sheet-content .editor,
.DoD.sheet.active-effect-sheet .sheet-content .editor {
  height: 100%;
  width: 100%;
  min-height: 160px;
  align-self: center;
  background-image: url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/parchment-vertical.webp");
  background-position: left -16px bottom, right -16px bottom, center bottom 4px, left -16px top, right -16px top, center top 4px, center center;
  background-clip: border-box, border-box, padding-box, border-box, border-box, padding-box, content-box;
  background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, no-repeat, repeat-x, repeat-y;
  background-size: auto 24px, auto 24px, auto 16px, auto 24px, auto 24px, auto 16px, 100% auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-color: transparent;
  border-width: 16px;
}
.DoD.sheet.item .sheet-content .editor-content,
.DoD.sheet.active-effect-sheet .sheet-content .editor-content {
  border-left: 12px;
  border-right: 12px;
  border-style: solid;
  border-color: transparent;
}
.DoD.sheet.item .sheet-content .editor-edit,
.DoD.sheet.active-effect-sheet .sheet-content .editor-edit {
  top: 21px;
  right: 12px;
}
.DoD.sheet.item .sheet-content .tox.tox-tinymce,
.DoD.sheet.active-effect-sheet .sheet-content .tox.tox-tinymce {
  padding-left: 12px;
  padding-right: 12px;
}
.DoD.sheet.character form {
  display: flex;
  flex-direction: column;
  font-family: QTFrizQuad;
}
.DoD.sheet.character .window-content {
  background: url(art/ui/item-sheet-bg.webp) repeat;
  background-position: top center;
  padding: 0px;
}
.DoD.sheet.character .npc-header {
  min-width: 450px;
}
.DoD.sheet.character .npc-content {
  min-width: 450px;
}
.DoD.sheet.character .character-header {
  width: 700px;
}
.DoD.sheet.character .monster-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.DoD.sheet.character .monster-actions button {
  display: flex;
  width: 75px;
  height: 75px;
  margin: 0px 4px;
  border: 0px;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  background-image: url(art/ui/monster-action-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.DoD.sheet.character .monster-actions button img {
  border: 0px;
  width: 80%;
  height: auto;
}
.DoD.sheet.character .rest-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.DoD.sheet.character .rest-actions button {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 2px 8px;
  border: 0px;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  background-image: url(art/ui/monster-action-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.DoD.sheet.character .rest-actions button img {
  border: 0px;
  width: 100%;
  height: auto;
}
.DoD.sheet.character .rest-actions button:disabled img {
  opacity: 0.25;
  width: 90%;
}
.DoD.sheet.character .sheet-header {
  top: 4px;
  padding: 8px 8px 0px 8px;
  flex-direction: row;
}
.DoD.sheet.character .sheet-header .image-container {
  height: 140px;
  width: 154px;
  min-height: 128px;
  flex-grow: 0;
  text-align: center;
}
.DoD.sheet.character .sheet-header .image-container img {
  height: 128px;
  min-height: 128px;
  width: auto;
  margin: 0px;
  border: 0px solid transparent;
  object-fit: cover;
}
.DoD.sheet.character .sheet-header .image-container h1 {
  position: relative;
  width: 154px;
  top: -40px;
  left: calc(0.5 * (100% - 154px));
  background-image: url("art/ui/banner-name-straight-compact.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: border-box;
  font-size: 16px;
  font-family: Caveat;
  font-weight: bold;
}
.DoD.sheet.character .sheet-header .image-container h1 input {
  color: black;
  text-align: center;
  font-weight: bold;
  border: 0px;
  background: transparent;
  padding: 10px 5px 0px 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.DoD.sheet.character .attributes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  left: center;
}
.DoD.sheet.character .attributes-container .attributes {
  position: relative;
  width: 530px;
  height: 128px;
  background-image: url("art/ui/attributes-panel.webp");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.DoD.sheet.character .attributes-container .attributes .attribute-panel {
  position: absolute;
  top: 0px;
  width: 48px;
  height: 100%;
}
.DoD.sheet.character .attributes-container .attributes .attribute-panel .attribute-label {
  position: absolute;
  top: 26px;
  left: 8px;
  width: 30px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: #dbd0bf;
  border-radius: 5px;
  border: solid 1px black;
}
.DoD.sheet.character .attributes-container .attributes .attribute-panel .attribute-input {
  position: absolute;
  top: 38%;
  left: -6px;
  width: 100%;
  font-family: Caveat;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: transparent;
}
.DoD.sheet.character .attributes-container .attributes .attribute1 {
  left: 18%;
}
.DoD.sheet.character .attributes-container .attributes .attribute2 {
  left: 29.5%;
}
.DoD.sheet.character .attributes-container .attributes .attribute3 {
  left: 41%;
}
.DoD.sheet.character .attributes-container .attributes .attribute4 {
  left: 52.5%;
}
.DoD.sheet.character .attributes-container .attributes .attribute5 {
  left: 63.75%;
}
.DoD.sheet.character .attributes-container .attributes .attribute6 {
  left: 75.25%;
}
.DoD.sheet.character .attributes-container .attributes .conditions input[type="checkbox"] {
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  appearance: none;
  -webkit-appearance: none;
}
.DoD.sheet.character .attributes-container .attributes .conditions input[type="checkbox"]:checked {
  background-color: red;
  -webkit-filter: none;
  filter: none;
}
.DoD.sheet.character .attributes-container .attributes .conditions .condition-panel {
  position: absolute;
  top: 65%;
  width: 56px;
  height: 30px;
  background-image: url("art/ui/condition-panel.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
.DoD.sheet.character .attributes-container .attributes .conditions .condition-panel .condition-input {
  position: absolute;
  top: 5px;
  left: 19px;
  size: 12px;
}
.DoD.sheet.character .attributes-container .attributes .conditions .condition-label {
  position: absolute;
  top: 14px;
  left: 4px;
  width: 48px;
  color: whitesmoke;
  font-size: 10px;
  text-align: center;
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.DoD.sheet.character .attributes-container .attributes .conditions .condition1 {
  left: 17%;
}
.DoD.sheet.character .attributes-container .attributes .conditions .condition2 {
  left: 28.5%;
}
.DoD.sheet.character .attributes-container .attributes .conditions .condition3 {
  left: 40%;
}
.DoD.sheet.character .attributes-container .attributes .conditions .condition4 {
  left: 51.5%;
}
.DoD.sheet.character .attributes-container .attributes .conditions .condition5 {
  left: 62.75%;
}
.DoD.sheet.character .attributes-container .attributes .conditions .condition6 {
  left: 74.25%;
}
.DoD.sheet.character .main-tab {
  display: flex;
}
.DoD.sheet.character .sheet-content {
  min-width: 440px;
  padding: 8px;
  padding-top: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center top;
  background-repeat: repeat-x;
  background-size: auto 12px;
  padding-bottom: 0px;
}
.DoD.sheet.character .sheet-content .sheet-tabs {
  width: 100%;
  background-image: url("art/ui/table-row-banner.webp");
  background-repeat: repeat-x;
  background-clip: border-box;
  background-size: auto 100%;
  border-color: transparent;
}
.DoD.sheet.character .sheet-content .sheet-body {
  width: 100%;
}
.DoD.sheet.character .sheet-content .sheet-body .skills-tab {
  display: flex;
  flex-direction: row;
}
.DoD.sheet.character .sheet-content .sheet-body .abilities-tab {
  display: flex;
}
.DoD.sheet.character .sheet-content .sheet-body .background-tab {
  display: flex;
  flex-direction: column;
}
.DoD.sheet.character .weapon-table {
  font-family: QTFrizQuad;
  font-weight: normal;
  background-image: url("art/ui/parchment-vertical.webp");
  background-repeat: no-repeat;
  background-size: calc(100% - 2em) auto;
  background-clip: border-box;
  background-position-x: center;
  background-position-y: 2em;
  border-top: transparent;
  color: black;
  background-color: transparent;
}
.DoD.sheet.character .weapon-table i {
  margin-left: auto;
  float: right;
  color: #505050;
}
.DoD.sheet.character .resource-points {
  position: relative;
  width: 200px;
  height: 75px;
}
.DoD.sheet.character .resource-points .resource-points-text-label {
  position: absolute;
  top: 14px;
  left: 24px;
  text-align: center;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}
.DoD.sheet.character .resource-points .resource-points-max-box {
  position: absolute;
  top: 33px;
  left: 24px;
  width: 34px;
  height: 23px;
  background-color: transparent;
}
.DoD.sheet.character .resource-points .resource-points-max-box .resource-points-max-label {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  border-color: transparent;
}
.DoD.sheet.character .resource-points .resource-points-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 24px;
  left: 66px;
  width: 115px;
  height: 40px;
  align-items: center;
}
.DoD.sheet.character .resource-points .resource-points-box .resource-point {
  width: 10px;
  height: 10px;
  border: 0 solid transparent;
  margin: 0px;
  flex: none;
}
.DoD.sheet.character .resource-points .resource-points-box .resource-point:nth-child(10n+6) {
  margin-left: 10px;
}
.DoD.sheet.character .resource-points .resource-points-box .invisible {
  visibility: hidden;
}
.DoD.sheet.character .resource-points .resource-points-current-box {
  position: absolute;
  top: 33px;
  left: 128px;
  width: 50px;
  height: 23px;
  background-color: transparent;
}
.DoD.sheet.character .resource-points .resource-points-current-box .resource-points-current-label {
  display: inline-block;
  text-align: center;
  color: black;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  border-color: transparent;
}
.DoD.sheet.character .resource-points .death-rolls-box {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 180px;
  height: 60px;
  font-size: 12px;
}
.DoD.sheet.character .resource-points .death-rolls-box table {
  border: 0px solid transparent;
  background-color: transparent;
}
.DoD.sheet.character .resource-points .death-rolls-box tr {
  background-color: transparent;
}
.DoD.sheet.character .resource-points .death-rolls-box th {
  padding-left: 4px;
  padding-right: 8px;
  font-weight: bold;
  padding-bottom: 0px;
  border: 0px solid transparent;
}
.DoD.sheet.character .resource-points .death-rolls-box td {
  padding-left: 4px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px solid transparent;
  text-align: center;
}
.DoD.sheet.character .resource-points .death-rolls-box button {
  font-family: QTFrizQuad;
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  border: 0px solid transparent;
  background: transparent;
  vertical-align: middle;
  text-align: center;
  line-height: normal;
}
.DoD.sheet.character .resource-points .death-rolls-box button i {
  vertical-align: top;
  float: none;
}
.DoD.sheet.character .resource-points .death-rolls-box button:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
  box-shadow: none;
}
.DoD.sheet.character .resource-points .death-rolls-box .hit-point {
  width: 10px;
  height: 10px;
  border: 0 solid transparent;
}
.DoD.sheet.character .hit-points {
  background-image: url("art/ui/hp-panel.webp"), url("art/ui/death-rolls-bg.webp");
  background-size: contain, 200px auto;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, center bottom;
  height: 110px;
}
.DoD.sheet.character .hit-points-large {
  background-image: url("art/ui/hp-panel-large.webp"), url("art/ui/death-rolls-bg.webp");
  background-size: contain, 200px auto;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, center bottom;
  height: 110px;
}
.DoD.sheet.character .hit-points-large .resource-points-max-box {
  width: 50px;
}
.DoD.sheet.character .hit-points-npc {
  background-image: url("art/ui/hp-panel.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}
.DoD.sheet.character .hit-points-npc-large {
  background-image: url("art/ui/hp-panel-large.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}
.DoD.sheet.character .hit-points-npc-large .resource-points-max-box {
  width: 50px;
}
.DoD.sheet.character .will-points {
  background-image: url("art/ui/wp-panel.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}
.DoD.sheet.character .will-points-large {
  background-image: url("art/ui/wp-panel-large.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}
.DoD.sheet.character .will-points-large .resource-points-max-box {
  width: 50px;
}
.DoD.sheet.character .armor {
  background-image: url("art/ui/banner-right.webp");
  background-size: 221px 61px;
  background-repeat: no-repeat;
  background-position: 42px center;
  min-width: 266px;
  border: 0px solid transparent;
  background-color: transparent;
}
.DoD.sheet.character .armor td {
  border: 0px solid transparent;
}
.DoD.sheet.character .armor tr {
  height: 40px;
}
.DoD.sheet.character .armor .armor-value {
  background-image: url("art/ui/armor.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 95px;
  height: 98px;
  min-width: 95px;
  min-height: 98px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.DoD.sheet.character .armor .helmet-value {
  background-image: url("art/ui/helmet-small.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 95px;
  height: 98px;
  min-width: 95px;
  min-height: 98px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.DoD.sheet.character .armor .armor-label {
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
  vertical-align: bottom;
}
.DoD.sheet.character .armor .armor-name {
  font-weight: normal;
}
.DoD.sheet.character .armor .armor-banes {
  font-size: small;
  vertical-align: top;
  font-weight: normal;
}
.DoD.sheet.character .dod-text-container {
  height: 100%;
  width: 100%;
  align-self: start;
  background-image: url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/parchment-vertical.webp");
  background-position: left -16px bottom, right -16px bottom, center bottom 4px, left -16px top, right -16px top, center top 4px, center center;
  background-clip: border-box, border-box, padding-box, border-box, border-box, padding-box, content-box;
  background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, no-repeat, repeat-x, repeat-y;
  background-size: auto 24px, auto 24px, auto 16px, auto 24px, auto 24px, auto 16px, 100% auto;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
  border-style: solid;
  border-color: transparent;
  border-width: 16px;
  border-top: 0px;
}
.DoD.sheet.character .dod-text-container .dod-text-container-label {
  position: relative;
  text-align: center;
}
.DoD.sheet.character .dod-text-container .dod-text-container-label label {
  width: 274px;
  height: 32px;
  position: absolute;
  top: -16px;
  left: calc(50% - 137px);
  padding: 6px 24px 12px 24px;
  background-image: url("art/ui/text-box-title-bg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: whitesmoke;
  font-weight: bold;
}
.DoD.sheet.character .dod-text-container .editor-edit {
  right: 12px;
}
.DoD.sheet.character .dod-text-container .editor-menu {
  padding-top: 21px;
}
.DoD.sheet.character .dod-text-container .editor-container {
  margin: 0px;
}
.DoD.sheet.character .dod-text-container .editor-content {
  padding: 0px;
  border-left: 12px;
  border-right: 12px;
  border-top: 16px;
  border-style: solid;
  border-color: transparent;
  min-height: 80px;
  position: static;
}
.DoD.sheet.character input:focus {
  color: black;
}
.DoD.sheet.character select:focus {
  color: black;
}
.DoD.sheet.character .value-increased {
  color: var(--dod-color-positive-effect);
}
.DoD.sheet.character .value-decreased {
  color: var(--dod-color-negative-effect);
}
#logo:lang(en) {
  content: url("art/ui/logo-en.webp");
  width: 120px;
  height: auto;
}
#logo:lang(sv) {
  content: url("art/ui/logo-se.webp");
  width: 120px;
  height: auto;
}
:root {
  --color-shadow-primary: #007544;
  --color-shadow-highlight: #3e7d63;
  --color-border-highlight: #3e7d63;
  --color-border-highlight-alt: #007544;
  --color-underline-header: #237262;
  --color-text-dark-header: #237262;
  scrollbar-color: var(--color-text-dark-header) #111;
}
@font-face {
  font-family: "QTFrizQuad";
  src: url('fonts/QTFrizQuad/QTFrizQuad.otf');
}
@font-face {
  font-family: "QTFrizQuad";
  src: url('fonts/QTFrizQuad/QTFrizQuad-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Caveat";
  src: url('fonts/Caveat/static/Caveat-Regular.ttf');
}
@font-face {
  font-family: "Caveat";
  src: url('fonts/Caveat/static/Caveat-Bold.ttf');
  font-weight: bold;
}
.system-dragonbane {
  --dod-color-text-dark-title: #00604D;
  --dod-color-direction: #4a2407;
  --dod-color-secret: #E83031;
  --dod-color-positive-effect: #00604D;
  --dod-color-negative-effect: #E83031;
  background-image: url(art/ui/dragonbane.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: auto 100vh;
  background-color: black;
}
.system-dragonbane #pause {
  background: url();
}
.system-dragonbane #pause img {
  content: url(art/icons/symbol-red.webp);
}
.system-dragonbane ul .description {
  list-style-type: "✦ ";
  font-weight: bold;
  color: var(--color-text-dark-header);
}
.system-dragonbane ul .description p {
  font-weight: normal;
  color: black;
}
.system-dragonbane ul .description ul,
.system-dragonbane ul .description ol {
  font-weight: normal;
  color: black;
}
.system-dragonbane ul .direction {
  list-style-type: "✦ ";
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dod-color-direction);
}
.system-dragonbane ul .direction p {
  font-weight: normal;
  text-transform: none;
  color: black;
}
.system-dragonbane ul .secret {
  list-style-type: "✦ ";
  font-weight: bold;
  color: var(--dod-color-secret);
}
.system-dragonbane ul .secret p {
  font-weight: normal;
  font-style: italic;
  color: black;
}
.system-dragonbane .sheet.journal-entry h1,
.system-dragonbane .sheet.journal-entry h2,
.system-dragonbane .sheet.journal-entry h3 {
  scroll-margin-top: 20px;
}
.system-dragonbane .sheet.journal-entry .scrollable {
  padding-right: 0;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content {
  background: url("art/ui/journal-page-bg.webp");
  background-size: 100% auto;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .journal-header {
  background: url("art/ui/header-dragon.webp"), url("art/ui/arrow-wide-left.webp"), url("art/ui/arrow-wide-right.webp"), url("art/ui/border-horizontal.webp");
  background-position: center calc(100% + 16px), -12px bottom, calc(100% + 12px) bottom, center calc(100% - 6px);
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
  background-size: auto 60px, auto 24px, auto 24px, 100% 12px;
  background-clip: border-box, border-box, border-box, padding-box;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 36px;
  margin-bottom: 0px;
  margin-left: 0px;
  z-index: 1;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .journal-header .title {
  font-size: 2em;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  color: var(--dod-color-text-dark-title);
  height: 100%;
  line-height: 100%;
  background-color: transparent;
  border-color: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .journal-entry-pages {
  top: -24px;
  margin: 0rem 0.5rem 0rem 0rem;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .journal-entry-pages .journal-entry-page:first-child {
  margin-top: 24px;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .journal-entry-pages .journal-entry-page.image {
  margin-top: 0;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .journal-entry-pages .journal-entry-page.image figure {
  margin-top: 0;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .journal-entry-pages .journal-entry-page {
  padding-left: 12px;
  padding-right: 12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .journal-entry-pages .journal-entry-page .editor-edit {
  z-index: 2;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .journal-entry-pages .journal-entry-page:not(.image):last-child {
  background: url("art/ui/pagination-half-demon.webp");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 60px;
  background-clip: padding-box;
  padding-bottom: 60px;
  margin-bottom: 0px;
  min-height: calc(100% - 36px);
}
.system-dragonbane .sheet.journal-entry .journal-entry-content img {
  display: block;
  margin: auto;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content img.dropcap {
  float: left;
  height: 3.5em;
  width: auto;
  pointer-events: none;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-skill h4 {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-skill h4 .content-link {
  border: 0px solid transparent;
  background-color: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-spell h4 {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-spell h4 .content-link {
  border: 0px solid transparent;
  background-color: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-spell li {
  color: var(--dod-color-text-dark-title);
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-spell span {
  color: black;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-ability h3 {
  font-size: large;
  font-weight: normal;
  text-transform: uppercase;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-ability h3 .content-link {
  border: 0px solid transparent;
  background-color: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-ability h4 {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-ability h4 .content-link {
  border: 0px solid transparent;
  background-color: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-ability li {
  color: var(--dod-color-text-dark-title);
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-ability span {
  color: black;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content div:has(> .monster-title.named) {
  border-top: 2.75em solid transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-monster {
  background-image: url("art/ui/separator-bottom.webp"), url("art/ui/separator-monster.webp"), url("art/ui/parchment-2columns.webp");
  background-size: auto 20px, 100% 10px, 100% auto;
  background-position: center bottom -8px, left bottom -3px, center top;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-clip: border-box, border-box, padding-box;
  padding: 5% 5% 12px 5%;
  border-bottom: 8px solid transparent;
  color: #3f2306;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-monster .monster-title {
  text-align: center;
  font-size: x-large;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-monster .monster-title .content-link {
  border: 0px solid transparent;
  background-color: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-monster .monster-title.named .content-link {
  background: url("art/ui/npc-banner-left.webp"), url("art/ui/npc-banner-right.webp"), url("art/ui/npc-banner.webp");
  background-size: auto 100%, auto 100%, auto 100%;
  background-position: -1rem center, calc(100% + 1rem) center, center center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-clip: border-box, border-box, padding-box;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  padding-top: 1.75em;
  padding-bottom: 1em;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  position: relative;
  top: -1em;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-monster table {
  border-color: #3f2306;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content div:has(> .npc-title.named) {
  border-top: 2.75em solid transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-npc {
  background-image: url("art/ui/separator-bottom.webp"), url("art/ui/separator-monster.webp"), url("art/ui/parchment-2columns.webp");
  background-size: auto 20px, 100% 10px, 100% auto;
  background-position: center bottom -8px, left bottom -3px, center top;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-clip: border-box, border-box, padding-box;
  padding: 5% 5% 12px 5%;
  border-bottom: 8px solid transparent;
  color: #3f2306;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-npc .npc-title {
  text-align: center;
  font-size: x-large;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-npc .npc-title .content-link {
  border: 0px solid transparent;
  background-color: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-npc .npc-title.named .content-link {
  background: url("art/ui/npc-banner-left.webp"), url("art/ui/npc-banner-right.webp"), url("art/ui/npc-banner.webp");
  background-size: auto 100%, auto 100%, auto 100%;
  background-position: -1rem center, calc(100% + 1rem) center, center center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-clip: border-box, border-box, padding-box;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  padding-top: 1.75em;
  padding-bottom: 1em;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  position: relative;
  top: -1em;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-npc table {
  border-color: #3f2306;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-npc table .list-row div {
  flex-shrink: 0;
  flex-grow: 1;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-npc table .list-row div:first-child {
  flex-shrink: 1;
  flex-grow: 0;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .gear-table td {
  padding: 2px;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .gear-table td .content-link {
  border: 0px solid transparent;
  background-color: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .gear-table td .content-link i {
  color: inherit;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table {
  border: 0px solid transparent;
  background: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table caption {
  width: 100%;
  height: 32px;
  left: calc(50% - 170px);
  padding: 6px 24px 12px 24px;
  background-image: url("art/ui/text-box-title-wide-bg.webp"), url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp");
  background-size: contain, auto 24px, auto 24px, calc(100% - 24px) 16px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center center, left center, right center, center center;
  background-clip: border-box, border-box, border-box, padding-box;
  color: whitesmoke;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table caption .content-link,
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table caption .table-roll {
  border: 0px solid transparent;
  background-color: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table caption .content-link i,
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table caption .table-roll i {
  color: inherit;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table caption h2,
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table caption h3 {
  text-transform: none;
  text-align: center;
  border-bottom: 0px solid transparent;
  font-size: 16px;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table tr {
  color: #4a2407;
  border-bottom: 1px solid #4a2407;
  background: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table tr td:first-child {
  text-align: center;
  width: 0%;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table tr th:first-child {
  text-align: center;
  width: 0%;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table tr:first-child {
  border-bottom: 2px solid #4a2407;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table tr:last-child {
  border-bottom: 0px solid transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table tr:nth-child(2n) {
  background-color: rgba(74, 36, 7, 0.2);
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-table table th {
  padding: 2px;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-generic-table table {
  border: 0px solid transparent;
  background: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-generic-table table caption {
  width: 100%;
  height: 32px;
  left: calc(50% - 170px);
  padding: 6px 24px 12px 24px;
  background-image: url("art/ui/text-box-title-wide-bg.webp"), url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp");
  background-size: contain, auto 24px, auto 24px, calc(100% - 24px) 16px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center center, left center, right center, center center;
  background-clip: border-box, border-box, border-box, padding-box;
  color: whitesmoke;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-generic-table table caption h2,
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-generic-table table caption h3 {
  text-align: center;
  text-transform: none;
  border-bottom: 0px solid transparent;
  font-size: 16px;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-generic-table table tr {
  color: #4a2407;
  border-bottom: 1px solid #4a2407;
  background: transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-generic-table table tr:first-child {
  border-bottom: 2px solid #4a2407;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-generic-table table tr:last-child {
  border-bottom: 0px solid transparent;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-generic-table table tr:nth-child(2n) {
  background-color: rgba(74, 36, 7, 0.2);
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-generic-table table th {
  padding: 2px;
  padding-left: 1em;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content .display-generic-table table td {
  padding-left: 1em;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content table th {
  text-align: left;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content table td {
  text-align: left;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info {
  height: 100%;
  width: 100%;
  min-width: 300px;
  background-image: url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/parchment-vertical.webp");
  background-position: left -16px bottom, right -16px bottom, center bottom 4px, left -16px top, right -16px top, center top 4px, center center;
  background-clip: border-box, border-box, padding-box, border-box, border-box, padding-box, content-box;
  background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, no-repeat, repeat-x, repeat-y;
  background-size: auto 24px, auto 24px, auto 16px, auto 24px, auto 24px, auto 16px, 100% auto;
  padding: 6px 0px 12px 0px;
  margin: 4px 0px 4px 0px;
  border-width: 0px 26px 0px 26px;
  border-style: solid;
  border-color: transparent;
  position: relative;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info h2,
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info h3 {
  position: absolute;
  width: 280px;
  height: 32px;
  top: -4px;
  left: calc(50% - 140px);
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  color: whitesmoke;
  font-size: 16px;
  font-style: normal;
  border: 0px solid transparent;
  padding: 6px 24px 12px 24px;
  background-image: url("art/ui/info-box-title-bg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info p {
  padding: 4px 16px 0px 16px;
  font-style: normal;
  font-size: 13px;
  color: #4a2407;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info p:first-of-type {
  padding-top: 16px;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info p:last-of-type {
  margin-bottom: 16px;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info table {
  margin-left: 1em;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info ol {
  margin-left: 1em;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info ol li {
  color: #4a2407;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info ul {
  margin-left: 1em;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.info ul li {
  color: #4a2407;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.optional {
  height: 100%;
  width: 100%;
  min-width: 300px;
  background-image: url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/title-bar.webp"), url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/title-bar.webp"), url("art/ui/stone-vertical.webp");
  background-position: left -16px bottom, right -16px bottom, center bottom, left -16px top, right -16px top, center top, center center;
  background-clip: border-box, border-box, padding-box, border-box, border-box, padding-box, content-box;
  background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, no-repeat, repeat-x, repeat-y;
  background-size: auto 32px, auto 32px, auto 32px, auto 32px, auto 32px, auto 32px, 100% auto;
  padding: 6px 0px 12px 0px;
  margin: 4px 0px 4px 0px;
  border-width: 0px 26px 0px 26px;
  border-style: solid;
  border-color: transparent;
  color: #dee9e6;
  position: relative;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.optional h3 {
  position: absolute;
  width: 280px;
  height: 32px;
  top: -1px;
  left: calc(50% - 140px);
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-style: normal;
  border: 0px solid transparent;
  padding: 6px 24px 12px 24px;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.optional p {
  padding: 4px 16px 0px 16px;
  font-style: normal;
  font-size: 13px;
  font-weight: normal;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.optional p:first-of-type {
  padding-top: 20px;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.optional p:last-of-type {
  padding-bottom: 16px;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.optional ol {
  margin-left: 1em;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.optional ul {
  margin-left: 1em;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.optional .content-link {
  background: #dddddd80;
}
.system-dragonbane .sheet.journal-entry .journal-entry-content blockquote.optional .inline-roll {
  background: #dddddd80;
}
.system-dragonbane .sheet.journal-entry img {
  border: 0px solid transparent;
}
.system-dragonbane .sheet.journal-entry h1 {
  font-size: 4em;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-text-dark-header);
  border-bottom: 0px solid transparent;
}
.system-dragonbane .sheet.journal-entry h2 {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 0px solid transparent;
}
.system-dragonbane .chat-message {
  font-family: QTFrizQuad;
  background-image: url(art/ui/chat-card-bg.webp);
  background-size: cover;
  background-position-x: center;
}
.system-dragonbane .chat-message .result-image {
  border: 0px transparent;
}
.system-dragonbane .chat-message * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.system-dragonbane .chat-message.whisper {
  font-family: QTFrizQuad;
  background-image: url(art/ui/whisper-chat-card-bg.webp);
  background-size: cover;
  background-position-x: center;
  border: 2px solid #3e7d63;
}
.system-dragonbane .chat-button {
  background: url("art/ui/button-bg.webp");
  background-repeat: repeat-x;
  background-size: contain;
  background-clip: border-box;
  color: whitesmoke;
  font-family: QTFrizQuad;
  font-weight: normal;
}
.system-dragonbane .chat-button:disabled {
  color: var(--color-text-dark-inactive);
  box-shadow: none;
}
.system-dragonbane .window-content {
  background: url(art/ui/dialog-bg.webp) repeat;
  background-position-x: center;
  font-family: QTFrizQuad;
  color: black;
}
.system-dragonbane .dialog .dialog-buttons .dialog-button,
.system-dragonbane .dod-button {
  background: url("art/ui/button-bg.webp");
  background-repeat: repeat-x;
  background-size: contain;
  background-clip: border-box;
  color: whitesmoke;
  font-family: QTFrizQuad;
  font-weight: normal;
}
.system-dragonbane .mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.system-dragonbane .sheet-table {
  font-family: QTFrizQuad;
  font-weight: normal;
  background-image: url("art/ui/parchment-column.webp");
  background-repeat: no-repeat;
  background-size: calc(100% - 2em) auto;
  background-clip: border-box;
  background-position-x: center;
  background-position-y: 2em;
  border-top: transparent;
  color: black;
  background-color: transparent;
}
.system-dragonbane .sheet-table i {
  margin-left: auto;
  float: right;
  color: #505050;
}
.system-dragonbane .effect-change {
  border-bottom: 0px solid transparent;
}
.system-dragonbane .sheet-table-header {
  color: whitesmoke;
  background-image: url("art/ui/title-bar.webp");
  background-size: calc(100% - 4em) 32px;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: center center;
  height: 36px;
}
.system-dragonbane .sheet-table-header th {
  white-space: nowrap;
}
.system-dragonbane .sheet-table-header th button {
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: 0px transparent;
  background: transparent;
  color: whitesmoke;
  max-width: 24px;
}
.system-dragonbane .sheet-table-header th:first-child {
  background-image: url("art/ui/arrow-left.webp");
  background-position-x: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: border-box;
  padding-left: 2em;
  padding-right: 0em;
  width: 3em;
  min-width: 3em;
  min-height: 2em;
}
.system-dragonbane .sheet-table-header th:last-child {
  background-image: url("art/ui/arrow-right.webp");
  background-position-x: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: border-box;
  padding-left: 0em;
  padding-right: 2em;
  width: 3em;
  min-width: 3em;
  min-height: 2em;
}
.system-dragonbane .sheet-table-header .thumbnail-header {
  padding: 0px;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.system-dragonbane .sheet-table-header .thumbnail-header img {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border: 0px solid transparent;
  filter: invert(100%) sepia(1%) saturate(256%) hue-rotate(64deg) brightness(116%) contrast(92%);
}
.system-dragonbane .sheet-table-header .text-header {
  text-indent: 1em;
  text-align: left;
}
.system-dragonbane .sheet-table-header .number-header {
  text-align: center;
}
.system-dragonbane .sheet-table-data {
  background-color: transparent;
}
.system-dragonbane .sheet-table-data button {
  padding: 0px;
  margin: 0px -1px 0px 0px;
  border: 0px solid transparent;
  background: transparent;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.system-dragonbane .sheet-table-data button i {
  vertical-align: top;
  float: none;
}
.system-dragonbane .sheet-table-data button:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
  box-shadow: none;
}
.system-dragonbane .sheet-table-data td {
  padding-left: 1em;
  padding-right: 1em;
}
.system-dragonbane .sheet-table-data td:first-child {
  padding-left: 2em;
  padding-right: 0em;
  text-align: right;
}
.system-dragonbane .sheet-table-data td:last-child {
  padding-right: 2em;
}
.system-dragonbane .sheet-table-data select {
  border: 0px;
}
.system-dragonbane .sheet-table-data .thumbnail-data {
  padding: 0px;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.system-dragonbane .sheet-table-data .thumbnail-data img {
  vertical-align: middle;
  border: 0px solid transparent;
}
.system-dragonbane .sheet-table-data .checkbox-data {
  padding: 0px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}
.system-dragonbane .sheet-table-data .checkbox-data img {
  vertical-align: middle;
  border: 0px solid transparent;
}
.system-dragonbane .sheet-table-data .text-data {
  text-align: left;
}
.system-dragonbane .sheet-table-data .number-data {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.system-dragonbane .sheet-table-data .number-data input {
  border: 0px;
  height: 100%;
  width: 2em;
  padding: 0px 0px;
  text-align: center;
  vertical-align: middle;
}
.system-dragonbane .sheet-table-data .checkbox-data {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.system-dragonbane .sheet-table-data .checkbox-data input {
  width: 12px;
  margin: 0px;
  vertical-align: middle;
}
.system-dragonbane .sheet-table-data .icon-data {
  width: 4em;
  min-width: 4em;
  padding-left: 0px;
}
.system-dragonbane .sheet-table-data .narrow {
  padding-left: 0px;
  padding-right: 0px;
  text-indent: 0px;
}
.system-dragonbane .sheet-table-data .wide {
  width: 100%;
}
.system-dragonbane .simple-table {
  border: 0px;
  background: none;
}
.system-dragonbane .simple-table input:invalid {
  color: red;
}
.system-dragonbane .simple-table input:valid {
  color: black;
}
.system-dragonbane .simple-table th {
  text-align: center;
  padding-left: 12px;
  padding-right: 0px;
}
.system-dragonbane .simple-table th:last-child {
  padding-right: 20px;
}
.system-dragonbane .simple-table tr:nth-child(1n+2) {
  background-image: url("art/ui/table-row-left.webp"), url("art/ui/table-row-right.webp"), url("art/ui/table-row-banner.webp");
  background-position: left center, right center, center center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: contain, contain, contain;
  background-clip: border-box, border-box, padding-box;
  border-left: 8px transparent;
  border-right: 8px transparent;
}
.system-dragonbane .simple-table tr:nth-child(1n+2) td {
  text-align: center;
  padding-left: 16px;
  padding-right: 0px;
}
.system-dragonbane .simple-table tr:nth-child(1n+2) td input {
  border: 0px;
  background: transparent;
}
.system-dragonbane .simple-table tr:nth-child(1n+2) td:nth-child(1n+2) {
  background-image: url("art/ui/table-row-separator.webp");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.system-dragonbane .simple-table tr:nth-child(1n+2) td:last-child {
  padding-right: 20px;
}
.system-dragonbane .simple-table tr:nth-child(1n+2) select {
  border: 0px;
}
.system-dragonbane .derived-stat-box {
  width: 100%;
}
.system-dragonbane .derived-stat-box table {
  margin: 0px;
}
.system-dragonbane .derived-stat-box table:first-child {
  margin-top: 7px;
}
.system-dragonbane .derived-stat-box table:last-child {
  margin-bottom: 7px;
}
.system-dragonbane .derived-stat {
  border-bottom: 0px;
  border-top: 0px;
  background-color: transparent;
}
.system-dragonbane .derived-stat th {
  text-align: center;
  color: whitesmoke;
  background-image: url("art/ui/table-row-right.webp"), url("art/ui/arrow-left.webp"), url("art/ui/title-bar.webp");
  background-size: contain, contain, contain;
  background-clip: border-box, border-box, content-box;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: right -8px center, left 4px center, center center;
  height: 2.5em;
  padding-left: 30px;
  min-width: 160px;
}
.system-dragonbane .derived-stat td {
  text-align: center;
  color: black;
  background-image: url("art/ui/table-row-right.webp"), url("art/ui/arrow-right.webp"), url("art/ui/table-row-banner2.webp");
  background-size: contain, contain, contain;
  background-clip: border-box, border-box, content-box;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: left -8px center, right center, center center;
  height: 2.5em;
  padding-right: 30px;
  min-width: 6em;
}
.system-dragonbane .derived-stat .warning {
  color: red;
}
.system-dragonbane .derived-stat input {
  border-color: transparent;
}
.system-dragonbane .derived-stat select {
  border-color: transparent;
}
.system-dragonbane .derived-stat option {
  text-align: center;
  text-align-last: center;
}
.system-dragonbane .derived-stat input[type="checkbox"] {
  margin: 4px 5px;
}
.system-dragonbane .text-box {
  position: relative;
  height: 100%;
  width: 100%;
  align-self: center;
  background-image: url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/parchment-vertical.webp");
  background-position: left -16px bottom, right -16px bottom, center bottom 4px, left -16px top, right -16px top, center top 4px, center center;
  background-clip: border-box, border-box, padding-box, border-box, border-box, padding-box, content-box;
  background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, no-repeat, repeat-x, repeat-y;
  background-size: auto 24px, auto 24px, auto 16px, auto 24px, auto 24px, auto 16px, 100% auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-color: transparent;
  border-width: 0px 16px 0px 16px;
}
.system-dragonbane .text-box .text-box-title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 2px;
}
.system-dragonbane .text-box input[type="radio"] {
  top: 0px;
  vertical-align: middle;
}
.system-dragonbane .text-box label {
  white-space: nowrap;
  text-indent: 0.5em;
  padding-right: 0.5em;
}
.system-dragonbane .text-box div {
  padding: 6px 2px 6px 2px;
}
.system-dragonbane .text-box table {
  border-color: transparent;
}
.system-dragonbane .text-box th {
  padding-left: 1em;
  text-align: left;
}
.system-dragonbane .text-box td {
  padding-left: 1em;
  text-align: left;
  padding-right: 1em;
}
.system-dragonbane .flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.system-dragonbane .flex-justify-center {
  display: flex;
  justify-content: center;
}
.system-dragonbane .comma-list a::after {
  content: ", ";
}
.system-dragonbane .comma-list a:last-child::after {
  content: "";
}
.system-dragonbane .comma-list a:focus {
  outline: none;
}
.system-dragonbane .comma-list span::after {
  content: ", ";
}
.system-dragonbane .comma-list span:last-child::after {
  content: "";
}
.system-dragonbane .comma-list span:focus {
  outline: none;
}
.system-dragonbane .result-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  word-break: break-word;
}
.system-dragonbane .expandable {
  display: none;
}
.system-dragonbane .damage-details {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
}
