.DoD.sheet.item form {
  display: flex;
  flex-direction: column;
  font-family: QTFrizQuad;
}
.DoD.sheet.item .window-content {
  background: url(art/ui/item-sheet-bg.webp) repeat;
  background-position: top center;
  padding: 0px;
}
.DoD.sheet.item .sheet-header {
  padding: 8px;
}
.DoD.sheet.item .sheet-header h1 {
  background-image: url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/title-bar.webp");
  background-position: left center, right center, center center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: contain, contain, contain;
  background-clip: border-box, border-box, content-box;
  padding-left: 48px;
  padding-right: 48px;
}
.DoD.sheet.item .sheet-header input {
  color: whitesmoke;
  text-align: center;
  border: 0px;
}
.DoD.sheet.item .sheet-content {
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("art/ui/separator-horizontal.webp"), none;
  background-position: center top, center bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: auto 12px, auto 12px;
  padding-bottom: 0px;
}
.DoD.sheet.item .sheet-content table {
  border: 0px;
  background: none;
}
.DoD.sheet.item .sheet-content table th {
  text-align: center;
  padding-left: 12px;
  padding-right: 0px;
}
.DoD.sheet.item .sheet-content table th:last-child {
  padding-right: 20px;
}
.DoD.sheet.item .sheet-content table tr:nth-child(1n+2) {
  background-image: url("art/ui/table-row-left.webp"), url("art/ui/table-row-right.webp"), url("art/ui/table-row-banner.webp");
  background-position: left center, right center, center center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: contain, contain, contain;
  background-clip: border-box, border-box, padding-box;
  border-left: 8px transparent;
  border-right: 8px transparent;
}
.DoD.sheet.item .sheet-content table tr:nth-child(1n+2) td {
  text-align: center;
  padding-left: 16px;
  padding-right: 0px;
}
.DoD.sheet.item .sheet-content table tr:nth-child(1n+2) td input {
  border: 0px;
  background: transparent;
}
.DoD.sheet.item .sheet-content table tr:nth-child(1n+2) td:nth-child(1n+2) {
  background-image: url("art/ui/table-row-separator.webp");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.DoD.sheet.item .sheet-content table tr:nth-child(1n+2) td:last-child {
  padding-right: 20px;
}
.DoD.sheet.item .sheet-content table tr:nth-child(1n+2) select {
  border: 0px;
}
.DoD.sheet.item .sheet-content .editor {
  height: 100%;
  width: 100%;
  align-self: center;
  background-image: url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/parchment-vertical.webp");
  background-position: left -16px bottom, right -16px bottom, center bottom 4px, left -16px top, right -16px top, center top 4px, center center;
  background-clip: border-box, border-box, padding-box, border-box, border-box, padding-box, content-box;
  background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, no-repeat, repeat-x, repeat-y;
  background-size: auto 24px, auto 24px, auto 16px, auto 24px, auto 24px, auto 16px, 100% auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-color: transparent;
  border-width: 16px;
}
.DoD.sheet.item .sheet-content .editor-content {
  border-left: 12px;
  border-right: 12px;
  border-style: solid;
  border-color: transparent;
}
.DoD.sheet.item .sheet-content .editor-edit {
  top: 21px;
  right: 12px;
}
.DoD.sheet.item .sheet-content .tox.tox-tinymce {
  padding-left: 12px;
  padding-right: 12px;
}
.DoD.sheet.character form {
  display: flex;
  flex-direction: column;
  font-family: QTFrizQuad;
}
.DoD.sheet.character .window-content {
  background: url(art/ui/item-sheet-bg.webp) repeat;
  background-position: top center;
  padding: 0px;
}
.DoD.sheet.character .sheet-header {
  top: 4px;
  padding: 8px;
  flex-direction: column;
  position: relative;
}
.DoD.sheet.character .sheet-header img {
  flex: 0 0 128px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 64px;
  height: 128px;
  left: center;
  border: 12px transparent;
}
.DoD.sheet.character .sheet-header div .image-border {
  position: absolute;
  top: 8px;
  left: center;
  width: 128px;
  height: 128px;
  border: 8px solid;
  border-image: url("art/ui/border.webp");
  border-image-slice: 160;
  border-image-width: 48px;
  border-image-outset: 8px;
  pointer-events: none;
}
.DoD.sheet.character .sheet-header h1 {
  position: absolute;
  top: 96px;
  background-image: url("art/ui/banner-name.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: border-box;
  font-size: 2em;
  font-family: Caveat;
  font-weight: bold;
}
.DoD.sheet.character .sheet-header h1 input {
  color: black;
  text-align: center;
  border: 0px;
  background: transparent;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}
.DoD.sheet.character .sheet-content {
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center top;
  background-repeat: repeat-x;
  background-size: auto 12px;
  padding-bottom: 0px;
}
.DoD.sheet.character .sheet-content .attributes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  left: center;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes {
  position: relative;
  width: 530px;
  height: 128px;
  background-image: url("art/ui/attributes-panel.webp");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .attribute-panel {
  position: absolute;
  top: 0px;
  width: 48px;
  height: 100%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .attribute-panel .attribute-label {
  position: absolute;
  top: 26px;
  left: 8px;
  width: 30px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: #dbd0bf;
  border-radius: 5px;
  border: solid 1px black;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .attribute-panel .attribute-input {
  position: absolute;
  top: 38%;
  left: -6px;
  width: 100%;
  font-family: Caveat;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: transparent;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .attribute1 {
  left: 18%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .attribute2 {
  left: 29.5%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .attribute3 {
  left: 41%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .attribute4 {
  left: 52.5%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .attribute5 {
  left: 63.75%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .attribute6 {
  left: 75.25%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions input[type="checkbox"] {
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  appearance: none;
  -webkit-appearance: none;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions input[type="checkbox"]:checked {
  background-color: red;
  -webkit-filter: none;
  filter: none;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions .condition-panel {
  position: absolute;
  top: 65%;
  width: 56px;
  height: 30px;
  background-image: url("art/ui/condition-panel.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions .condition-panel .condition-input {
  position: absolute;
  top: 5px;
  left: 19px;
  size: 12px;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions .condition-label {
  position: absolute;
  top: 14px;
  left: 4px;
  width: 48px;
  color: whitesmoke;
  font-size: 10px;
  text-align: center;
  pointer-events: none;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions .condition1 {
  left: 17%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions .condition2 {
  left: 28.5%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions .condition3 {
  left: 40%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions .condition4 {
  left: 51.5%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions .condition5 {
  left: 62.75%;
}
.DoD.sheet.character .sheet-content .attributes-container .attributes .conditions .condition6 {
  left: 74.25%;
}
.DoD.sheet.character .sheet-content .sheet-tabs {
  width: 100%;
}
.DoD.sheet.character .sheet-content .sheet-body .skills-tab {
  display: flex;
  flex-direction: row;
}
.DoD.sheet.character .sheet-content .table-column {
  display: flex;
  flex-direction: column;
}
.DoD.sheet.character .sheet-content .table-row {
  display: flex;
  flex-direction: row;
}
.DoD.sheet.character .sheet-content .sheet-table {
  font-family: QTFrizQuad;
  font-weight: normal;
  background-image: url("art/ui/parchment-column.webp");
  background-repeat: no-repeat;
  background-size: 85% auto;
  background-clip: border-box;
  background-position-x: center;
  background-position-y: 2em;
  border-top: transparent;
  color: black;
}
.DoD.sheet.character .sheet-content .sheet-table i {
  margin-left: auto;
  float: right;
  color: #505050;
}
.DoD.sheet.character .sheet-content .sheet-table-header {
  color: whitesmoke;
  background-image: url("art/ui/title-bar.webp");
  background-size: contain;
  background-clip: content-box;
  background-repeat: repeat-x;
  background-position: center center;
  height: 2.5em;
}
.DoD.sheet.character .sheet-content .sheet-table-header th {
  text-align: left;
}
.DoD.sheet.character .sheet-content .sheet-table-header th:first-child {
  background-image: url("art/ui/arrow-left.webp");
  background-position-x: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: border-box;
  text-align: right;
  padding-left: 2em;
  min-width: 4em;
}
.DoD.sheet.character .sheet-content .sheet-table-header th:last-child {
  background-image: url("art/ui/arrow-right.webp");
  background-position-x: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: border-box;
  padding-right: 2em;
  text-indent: 1em;
  min-width: 15em;
}
.DoD.sheet.character .sheet-content .sheet-table-data td {
  text-align: center;
  padding-left: 2em;
  padding-right: 1em;
}
.DoD.sheet.character .sheet-content .sheet-table-data td:first-child {
  padding-left: 3.5em;
  padding-right: 0em;
  text-align: right;
}
.DoD.sheet.character .sheet-content .sheet-table-data td:last-child {
  text-align: left;
  padding-left: 1em;
  padding-right: 3em;
  width: 100%;
}
.DoD.sheet.character .sheet-content .sheet-table-data td:last-child a:hover,
.DoD.sheet.character .sheet-content .sheet-table-data td:last-child a:focus {
  color: white;
}
.DoD.sheet.character .sheet-content .sheet-table-data input {
  border: 0px;
  height: 100%;
  padding: 0px 0px;
}
#logo:lang(en) {
  content: url("art/ui/logo-en.webp");
  width: 200px;
  height: auto;
}
#logo:lang(se) {
  content: url("art/ui/logo-se.webp");
  width: 200px;
  height: auto;
}
.system-dragonbane {
  background-image: url(art/ui/dragonbane.jpg);
}
@font-face {
  font-family: "QTFritzQuad";
  src: url('fonts/QTFritzQuad.otf');
}
@font-face {
  font-family: "QTFritzQuad";
  src: url('fonts/QTFritzQuad-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Caveat";
  src: url('fonts/Caveat/static/Caveat-Regular.ttf');
}
@font-face {
  font-family: "Caveat";
  src: url('fonts/Caveat/static/Caveat-Bold.ttf');
  font-weight: bold;
}
/*
  a {
    --color-shadow-primary: rgb(70, 110, 90);
  } 
  */
