<div class="tab main" data-group="primary" data-tab="main">
    <div class="main-tab">
        {{> "systems/dragonbane/templates/partials/hp-widget.hbs" }}
        {{> "systems/dragonbane/templates/partials/wp-widget.hbs" }}
    </div>
</div>
