<div class="damage-roll"
    data-damage="{{total}}"
    data-damage-type="{{damageType}}"
    {{#if ignoreArmor}} data-ignore-armor="{{ignoreArmor}}" {{/if}}
    {{#if target}} data-target-id="{{target.uuid}}" {{/if}}
>
{{> "templates/dice/roll.html"}}
</div>