<form class = "DoD.dialog">
    <div class="display-table">
        <table class="derived-stat">
            <tr>
                <th>{{localize "DoD.ui.dialog.monsterAttack"}}</th>
                <td>
                    <select name="selectMonsterAttack" class="selectMonsterAttack">
                        {{#select selectMonsterAttack}}
                        <option value="0">&lt {{localize "DoD.ui.dialog.monsterAttackRandom"}} &gt</option>
                        {{#each attacks as | attack |}}
                        <option value="{{attack.index}}">{{attack.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
    </div>
</form>
