.system-dragonbane {
    background-image: url("art/ui/dragonbane.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: auto 100vh;
    background-color: black;
}