.system-dragonbane {
    $text-outline: 
        -1px -1px 0 var(--color-shadow-dark),
         1px -1px 0 var(--color-shadow-dark),
        -1px  1px 0 var(--color-shadow-dark),
         1px  1px 0 var(--color-shadow-dark),
         0    0   4px var(--color-shadow-dark);

    .scenes-sidebar .scene .entry-name {
        text-shadow: $text-outline;
    }

    .compendium-sidebar .compendium .compendium-name strong {
        text-shadow: $text-outline;
    }    
}