.system-dragonbane {

    .derived-stat-box {
        width: 100%;
        table {
            margin: 0px;
        }
        table:first-child {
            margin-top: 7px;
        }
        table:last-child {
            margin-bottom: 7px;
        }
    }

    .derived-stat {
        border-bottom: 0px;
        border-top: 0px;
        background-color: transparent;
        th {
            text-align: center;
            color: whitesmoke;            
            background-image: url("art/ui/table-row-right.webp"), url("art/ui/arrow-left.webp"), url("art/ui/title-bar.webp");
            background-size: contain, contain, contain;
            background-clip: border-box, border-box, content-box;
            background-repeat: no-repeat, no-repeat, repeat-x;
            background-position: right -8px center, left (+4px) center, center center;
            height: 2.5em;
            padding-left: 30px;
            min-width: 160px;
        }
        td {
            text-align: center;
            color: black;
            background-image: url("art/ui/table-row-right.webp"), url("art/ui/arrow-right.webp"), url("art/ui/table-row-banner2.webp");
            background-size: contain, contain, contain;
            background-clip: border-box, border-box, content-box;
            background-repeat: no-repeat, no-repeat, repeat-x;
            background-position: left -8px center, right center, center center;
            height: 2.5em;
            padding-right: 30px;
            min-width: 6em;
        }
        .warning {
            color:red;
        }
        input {
            border-color: transparent;
        }
        select {
            border-color: transparent;
        }
        option {
            text-align:center;
            text-align-last: center; 
        }
        input[type="checkbox"] {
            margin: 4px 5px;
        }  
    };
}