@use "../abstracts/placeholders";

.system-dragonbane {
  .journal-entry-content {
    .display-table {
      table {
        @extend %base-table;
        td:first-child, th:first-child {
            text-align: center;
            width: 0;
        }
      }
      &.gear-table {
        td, th {
          .content-link {
            border: 0;
            background-color: transparent;
            color: unset;
            i {
              color: inherit;
            }
          }
        }
      }
    }
  }
}