.system-dragonbane {

    .journal-entry-content {

        .journal-entry-page:not(.image):last-child {
            background: url("art/ui/pagination-half-demon.webp");
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: auto 60px;
            background-clip: padding-box;
            padding-bottom: 60px;
            margin-bottom: 0;
            min-height: calc(100% - 36px);
        }
    }
}