.system-dragonbane {
    #pause {
        background: url();
        img {
            content:  url(art/icons/symbol-red.webp);
        }
        figcaption {
            color: whitesmoke;
        }
    };
}