.system-dragonbane {

    .waypoint-label {

        .move-range {
            color: inherit;
        }

        .dash-range {
            color: var(--dod-color-dash-range);
        }

        .out-of-range {
            color: var(--dod-color-out-of-range);
        }
    }
}