.system-dragonbane {
    // Don't wrap children
    .flex-nowrap {
        display: flex;
        flex-wrap: nowrap;
    }

    // Center children along the main axis
    .flex-justify-center {
        display: flex;
        justify-content: center;
    }

    // Mirror element horizontally
    .mirror {
        transform: scaleX(-1);
    };
}