<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">

        <table>
            <tr>
                <th>{{localize "DoD.ability.requirement"}}</th>
                <th>{{localize "DoD.ability.wp"}}</th>
                <th>{{localize "DoD.ability.type"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.requirement" type="text" value="{{data.requirement}}" />
                </td>
                <td>
                    <input name="data.wp" type="text" value="{{data.wp}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="data.abilityType">
                        {{#select data.abilityType}}
                        {{#each config.abilityTypes as |name abilityType|}}
                        <option value="{{abilityType}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th>{{localize "DoD.ui.dialog.boons"}}</th>
                <th>{{localize "DoD.ability.secondaryAttribute"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.boons" type="text" value="{{data.boons}}" />
                </td>
                <td>
                    <select name="data.secondaryAttribute">
                        {{#select data.secondaryAttribute}}
                        {{#each config.secondaryAttributeTypes as |name attribute|}}
                        <option value="{{attribute}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>

        {{editor data.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</form>
