<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "DoD.armor.rating"}}</th>
                <th>{{localize "DoD.armor.banes"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.rating" type="text" value="{{data.rating}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.banes" type="text" value="{{data.banes}}" />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "DoD.gear.weight"}}</th>
                <th>{{localize "DoD.gear.quantity"}}</th>
                <th>{{localize "DoD.gear.cost"}}</th>
                <th>{{localize "DoD.gear.supply"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.weight" type="text" value="{{data.weight}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.cost" type="text" value="{{data.cost}}" />
                </td>
                <td>
                    <select name="data.supply">
                        {{#select data.supply}}
                        {{#each config.supplyTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
        {{editor data.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</form>

