<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "DoD.armor.rating"}}</th>
                <th>{{localize "DoD.armor.bonuses"}}</th>
                <th>{{localize "DoD.armor.banes"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.rating" type="text" value="{{system.rating}}" data-dtype="Number" />
                </td>
                <td class="edit-armor-bonuses comma-list">
                    {{#each armorBonuses as |bonus|}}
                    <a style="text-transform:capitalize;">{{localize bonus.name}}</a>
                    {{/each}}
                </td>

                <td>
                    <input name="system.banes" type="text" value="{{system.banes}}" />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "DoD.gear.weight"}}</th>
                <th>{{localize "DoD.gear.quantity"}}</th>
                <th>{{localize "DoD.gear.cost"}}</th>
                <th>{{localize "DoD.gear.supply"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.weight" type="text" value="{{system.weight}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.quantity" type="text" value="{{system.quantity}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{system.cost}}" />
                </td>
                <td>
                    <select name="system.supply">
                        {{selectOptions config.supplyTypes selected=system.supply localize=true}}
                    </select>
                </td>
            </tr>
        </table>
        {{editor system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</form>

