<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="image-container">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <h1>
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>
            </div>
        <div class="attributes-container">
            <div class="attributes">
                <div class="attribute-panel attribute1">
                    <label class="attribute-label rollable-attribute" data-attribute="str">{{localize "DoD.attributes.str"}}</label>
                    <input class="attribute-input" name="data.attributes.str.value" type="text" value="{{data.attributes.str.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute2">
                    <label class="attribute-label rollable-attribute" data-attribute="con">{{localize "DoD.attributes.con"}}</label>
                    <input class="attribute-input" name="data.attributes.con.value" type="text" value="{{data.attributes.con.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute3">
                    <label class="attribute-label rollable-attribute" data-attribute="agl">{{localize "DoD.attributes.agl"}}</label>
                    <input class="attribute-input" name="data.attributes.agl.value" type="text" value="{{data.attributes.agl.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute4">
                    <label class="attribute-label rollable-attribute" data-attribute="int">{{localize "DoD.attributes.int"}}</label>
                    <input class="attribute-input" name="data.attributes.int.value" type="text" value="{{data.attributes.int.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute5">
                    <label class="attribute-label rollable-attribute" data-attribute="wil">{{localize "DoD.attributes.wil"}}</label>
                    <input class="attribute-input" name="data.attributes.wil.value" type="text" value="{{data.attributes.wil.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute6">
                    <label class="attribute-label rollable-attribute" data-attribute="cha">{{localize "DoD.attributes.cha"}}</label>
                    <input class="attribute-input" name="data.attributes.cha.value" type="text" value="{{data.attributes.cha.value}}" data-dtype="Number" />
                </div>

                <div class="conditions">
                    <div class="condition-panel condition1">
                        <input class="condition-input" name="data.conditions.dazed.value" type="checkbox" {{checked data.conditions.dazed.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.exhausted"}}</label>
                    </div>
                    <div class="condition-panel condition2">
                        <input class="condition-input" name="data.conditions.sickly.value" type="checkbox" {{checked data.conditions.sickly.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.sickly"}}</label>
                    </div>
                    <div class="condition-panel condition3">
                        <input class="condition-input" name="data.conditions.exhausted.value" type="checkbox" {{checked data.conditions.exhausted.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.dazed"}}</label>
                    </div>
                    <div class="condition-panel condition4">
                        <input class="condition-input" name="data.conditions.angry.value" type="checkbox" {{checked data.conditions.angry.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.angry"}}</label>
                    </div>
                    <div class="condition-panel condition5">
                        <input class="condition-input" name="data.conditions.scared.value" type="checkbox" {{checked data.conditions.scared.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.scared"}}</label>
                    </div>
                    <div class="condition-panel condition6">
                        <input class="condition-input" name="data.conditions.disheartened.value" type="checkbox" {{checked data.conditions.disheartened.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.disheartened"}}</label>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="sheet-content">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
          {{!-- Default tab is specified in dod-character-sheet.js --}}
          <a class="item" data-tab="main">{{localize "DoD.ui.character-sheet.main"}}</a>
          <a class="item" data-tab="skills">{{localize "DoD.ui.character-sheet.skills"}}</a>
          <a class="item" data-tab="abilities">{{localize "DoD.ui.character-sheet.abilities"}}</a>
          <a class="item" data-tab="spells">{{localize "DoD.ui.character-sheet.spells"}}</a>
          <a class="item" data-tab="combat">{{localize "DoD.ui.character-sheet.combat"}}</a>
          <a class="item" data-tab="inventory">{{localize "DoD.ui.character-sheet.inventory"}}</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Main Tab --}}
            <div class="tab main" data-group="primary" data-tab="main">
                <div class="main-tab">
                    {{> "systems/dragonbane/templates/partials/hp-widget.hbs" }}
                    {{> "systems/dragonbane/templates/partials/wp-widget.hbs" }}
                </div>
            </div>
            {{!-- Skills Tab --}}
            <div class="tab" data-group="primary" data-tab="skills">
                <div class="skills-tab">
                    {{!-- Core Skills --}}
                    <div class="table-column">
                        <table class="sheet-table core-skills">
                            <tr class="sheet-table-header">
                                <th>
                                    {{localize "DoD.ui.character-sheet.skillValue"}}
                                </th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.coreSkills"}}
                                </th>
                                <th>
                                    {{!-- column for icons --}}
                                    &nbsp
                                </th>
                            </tr>
                            {{#each coreSkills as |skill skillId|}}
                            <tr class="sheet-table-data" data-item-id="{{skill.id}}">
                                <td>
                                    <input class="inline-edit" data-field="system.value" type="text" value="{{skill.system.value}}" data-dtype="Number"/>
                                </td>
                                <td>
                                    <a class="rollable-skill">{{skill.name}}</a>
                                </td>
                                <td>
                                    <a class="item-delete" data-type="skill">
                                        <i class="fas fa-trash"></i>
                                    </a>    
                                    <a class="item-edit" data-type="skill">
                                        <i class="fas fa-edit"></i>
                                    </a>                                                
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                    
                    <div>
                        {{!-- Weapon Skills --}}
                        <table class="sheet-table weapon-skills">
                            <tr class="sheet-table-header">
                                <th>
                                    {{localize "DoD.ui.character-sheet.skillValue"}}
                                </th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.weaponSkills"}}
                                </th>
                                <th>
                                    {{!-- column for icons --}}
                                    &nbsp
                                </th>
                            </tr>
                            {{#each weaponSkills as |skill skillId|}}
                            <tr class="sheet-table-data" data-item-id="{{skill.id}}">
                                <td>
                                    <input class="inline-edit" data-field="system.value" type="text" value="{{skill.system.value}}" data-dtype="Number"/>
                                </td>
                                <td>
                                    <a class="rollable-skill">{{skill.name}}</a>
                                </td>
                                <td>
                                    <a class="item-delete" data-type="skill">
                                        <i class="fas fa-trash"></i>
                                    </a>    
                                    <a class="item-edit" data-type="skill">
                                        <i class="fas fa-edit"></i>
                                    </a>            
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                        {{!-- Secondary Skills --}}
                        {{#if secondarySkills }}
                        <table class="sheet-table secondary-skills">
                            <tr class="sheet-table-header">
                                <th>
                                    {{localize "DoD.ui.character-sheet.skillValue"}}
                                </th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.secondarySkills"}}
                                </th>
                                <th>
                                    {{!-- column for icons --}}
                                </th>
                            </tr>
                            {{#each secondarySkills as |skill skillId|}}
                            <tr class="sheet-table-data" data-item-id="{{skill.id}}">
                                <td>
                                    <input class="inline-edit" data-field="system.value" type="text" value="{{skill.system.value}}" data-dtype="Number"/>
                                </td>
                                <td>
                                    <a class="rollable-skill">{{skill.name}}</a>
                                </td>
                                <td>
                                    <a class="item-delete" data-type="skill">
                                        <i class="fas fa-trash"></i>
                                    </a>    
                                    <a class="item-edit" data-type="skill">
                                        <i class="fas fa-edit"></i>
                                    </a>            
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{!-- Abilities Tab --}}
            <div class="tab abilities" data-group="primary" data-tab="abilities">
                <div class="abilities-tab">
                    {{!-- Will Power --}}
                    <div>
                        {{> "systems/dragonbane/templates/partials/wp-widget.hbs" }}
                    </div>

                    {{!-- Abilities --}}
                    <div>
                        {{!-- Kin Abilities --}}
                        <table class="sheet-table kin-abilities">
                            <tr class="sheet-table-header">
                                <th></th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.kinAbilities"}}
                                </th>
                                <th>
                                    {{!-- column for icons --}}
                                    &nbsp
                                </th>
                            </tr>
                            {{#each kinAbilities as |ability abilityId|}}
                            <tr class="sheet-table-data" data-item-id="{{ability.id}}">
                                <td></td>
                                <td>
                                    <a>{{ability.name}}</a>
                                </td>
                                <td>
                                    <a class="item-edit" data-type="ability">
                                        <i class="fas fa-edit"></i>
                                    </a>            
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                        {{!-- Profession Abilities --}}
                        {{#if professionAbilities }}
                        <table class="sheet-table profession-abilities">
                            <tr class="sheet-table-header">
                                <th></th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.professionAbilities"}}
                                </th>
                                <th>
                                    {{!-- column for icons --}}
                                    &nbsp
                                </th>
                            </tr>
                            {{#each professionAbilities as |ability abilityId|}}
                            <tr class="sheet-table-data" data-item-id="{{ability.id}}">
                                <td></td>
                                <td>
                                    <a>{{ability.name}}</a>
                                </td>
                                <td>
                                    <a class="item-edit" data-type="ability">
                                        <i class="fas fa-edit"></i>
                                    </a>            
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                        {{/if}}
                        {{!-- Heroic Abilities --}}
                        <table class="sheet-table heroic-abilities">
                            <tr class="sheet-table-header">
                                <th></th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.heroicAbilities"}}
                                </th>
                                <th>
                                    {{!-- column for icons --}}
                                    &nbsp
                                </th>
                            </tr>
                            {{#each heroicAbilities as |ability abilityId|}}
                            <tr class="sheet-table-data" data-item-id="{{ability.id}}">
                                <td></td>
                                <td>
                                    <a class="rollable-skill">{{ability.name}}</a>
                                </td>
                                <td>
                                    <a class="item-delete" data-type="ability">
                                        <i class="fas fa-trash"></i>
                                    </a>    
                                    <a class="item-edit" data-type="ability">
                                        <i class="fas fa-edit"></i>
                                    </a>            
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
            {{!-- Spells Tab --}}
            <div class="tab spells flexrow" data-group="primary" data-tab="spells">
                <div class="flexcolumn">
                    {{> "systems/dragonbane/templates/partials/wp-widget.hbs" }}
                </div>
                <div class="flexcolumn">
                    <table class="sheet-table spells">
                        <tr class="sheet-table-header">
                            <th>&nbsp</th>
                            <th>
                                {{localize "DoD.ui.character-sheet.spell"}}
                            </th>
                            <th class="center">
                                {{localize "DoD.ui.character-sheet.memorized"}}
                            </th>
                            <th>
                                {{localize "DoD.ui.character-sheet.school"}}
                            </th>
                            <th>&nbsp</th>
                        </tr>
                        {{#each spells as |spell spellId|}}
                        <tr class="sheet-table-data" data-item-id="{{spell.id}}">
                            <td>
                                <a>{{spell.value}}</a>
                            </td>
                            <td>
                                <a class="rollable-skill">{{spell.name}}</a>
                            </td>
                            <td class="narrow">
                                <input class="inline-edit" data-field="system.memorized"  type="checkbox" {{checked spell.system.memorized}} />
                            </td>
                            <td>
                                <a>{{localize spell.system.school}}</a>
                            </td>
                            <td>
                                <a class="item-delete" data-type="spell">
                                    <i class="fas fa-trash"></i>
                                </a>    
                                <a class="item-edit" data-type="spell">
                                    <i class="fas fa-edit"></i>
                                </a>            
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
            {{!-- Combat Tab --}}
            <div class="tab combat" data-group="primary" data-tab="combat">
                <p>{{localize "DoD.ui.character-sheet.combat"}}</p>
                {{> "systems/dragonbane/templates/partials/hp-widget.hbs" }}
            </div>
            {{!-- Inventory Tab --}}
            <div class="tab inventory" data-group="primary" data-tab="inventory">
                <div class="table-row">
                    <div>
                        <table class="sheet-table item-list" data-droptarget="weapon">
                            <tr class="sheet-table-header">
                                <th></th>
                                <th>{{localize "DoD.ui.character-sheet.equipped-weapon"}}</th>
                                <th>&nbsp</th>
                            </tr>
                            {{#if equippedWeapons}}
                            {{#each equippedWeapons as |weapon weaponId|}}
                            <tr class="sheet-table-data item" data-item-id="{{weapon.id}}">
                                <td class="thumbnail">
                                    <img src="{{weapon.img}}" title="{{weapon.name}}"/>
                                </td>
                                <td><a class="item-edit">{{weapon.displayName}}</a></td>
                                <td>
                                    <a class="item-delete" data-type="weapon">
                                        <i class="fas fa-trash"></i>
                                    </a>    
                                </td>
                            </tr>
                            {{/each}}
                            {{else}}
                            <tr class="sheet-table-data">
                                <td></td>
                                <td><a>&nbsp</a></td>
                                <td></td>
                            </tr>
                            {{/if}}
                                                        
                        </table>

                        <table class="sheet-table item-list" data-droptarget="armor">
                            <tr class="sheet-table-header">
                                <th></th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.equipped-armor"}}
                                </th>
                                <th></th>
                            </tr>
                            {{#if equippedArmor}}
                            <tr class="sheet-table-data item" data-item-id="{{equippedArmor.id}}">
                                <td class="thumbnail">
                                    <img src="{{equippedArmor.img}}" title="{{equippedArmor.name}}"/>
                                </td>
                                <td><a class="item-edit">{{equippedArmor.displayName}}</a></td>
                                <td>
                                    <a class="item-delete" data-type="armor">
                                        <i class="fas fa-trash"></i>
                                    </a>    
                                </td>
                            </tr>
                            {{else}}
                            <tr class="sheet-table-data">
                                <td></td>
                                <td><a>&nbsp</a></td>
                                <td></td>
                            </tr>
                            {{/if}}
                        </table>

                        <table class="sheet-table item-list" data-droptarget="helmet">
                            <tr class="sheet-table-header">
                                <th></th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.equipped-helmet"}}
                                </th>
                                <th></th>
                            </tr>
                            {{#if equippedHelmet}}
                            <tr class="sheet-table-data item" data-item-id="{{equippedHelmet.id}}">
                                <td class="thumbnail">
                                    <img src="{{equippedHelmet.img}}" title="{{equippedHelmet.name}}"/>
                                </td>
                                <td><a class="item-edit">{{equippedHelmet.displayName}}</a></td>
                                <td>
                                    <a class="item-delete" data-type="helmet">
                                        <i class="fas fa-trash"></i>
                                    </a>    
                                </td>
                            </tr>
                            {{else}}
                            <tr class="sheet-table-data">
                                <td></td>
                                <td><a>&nbsp</a></td>
                                <td></td>
                            </tr>
                            {{/if}}
                        </table>

                        <div>
                            <table class="derived-stat">
                                <tr>
                                    <th>{{localize "DoD.currency.gold"}}</th>
                                    <td><input class="currency-input" name="data.currency.gc" type="text" value="{{data.currency.gc}}" data-dtype="Number" /></td>
                                </tr>
                            </table>    
                            <table class="derived-stat">
                                <tr>
                                    <th>{{localize "DoD.currency.silver"}}</th>
                                    <td><input class="currency-input" name="data.currency.sc" type="text" value="{{data.currency.sc}}" data-dtype="Number" /></td>
                                </tr>
                            </table>    
                            <table class="derived-stat">
                                <tr>
                                    <th>{{localize "DoD.currency.copper"}}</th>
                                    <td><input class="currency-input" name="data.currency.cc" type="text" value="{{data.currency.cc}}" data-dtype="Number" /></td>
                                </tr>
                            </table>    
                        </div>
                    </div>
                    <div>
                        <table class="derived-stat">
                            <tr>
                                <th>{{localize "DoD.ui.character-sheet.max-encumbrance"}}</th>
                                <td>{{maxEncumbrance}}</td>
                            </tr>
                        </table>
                        <table class="derived-stat">
                            <tr>
                                <th>{{localize "DoD.ui.character-sheet.encumbrance"}}</th>
                                {{#if overEncumbered}}
                                <td class="warning">{{encumbrance}}</td>
                                {{else}}
                                <td>{{encumbrance}}</td>
                                {{/if}}
                            </tr>
                        </table>

                        <table class="sheet-table item-list" data-droptarget="inventory">
                            <tr class="sheet-table-header">
                                <th></th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.inventory"}}
                                </th>
                                <th>
                                    {{localize "DoD.gear.weight"}}
                                </th>
                                <th>&nbsp</th>
                            </tr>
                            {{#if inventory}}
                            {{#each inventory as |item itemId|}}
                            <tr class="sheet-table-data item" data-item-id="{{item.id}}">
                                <td class="thumbnail">
                                    <img src="{{item.img}}" title="{{item.name}}"/>
                                </td>
                                <td>
                                    <a class="item-edit">{{item.displayName}}</a>
                                </td>
                                <td class="number">
                                    <a>{{item.totalWeight}}</a>
                                </td>
                                <td>
                                    <a class="item-delete" data-type="spell">
                                        <i class="fas fa-trash"></i>
                                    </a>    
                                </td>
                            </tr>
                            {{/each}}
                            {{else}}
                            <tr class="sheet-table-data">
                                <td></td>
                                <td><a>&nbsp</a></td>
                                <td></td>
                            </tr>
                            {{/if}}

                        </table>

                        <table class="sheet-table item-list" data-droptarget="memento">
                            <tr class="sheet-table-header">
                                <th></th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.memento"}}
                                </th>
                                <th></th>
                            </tr>
                            {{#if memento}}
                            <tr class="sheet-table-data item" data-item-id="{{memento.id}}">
                                <td class="thumbnail">
                                    <img src="{{memento.img}}" title="{{memento.name}}"/>
                                </td>
                                <td><a class="item-edit">{{memento.displayName}}</a></td>
                                <td>
                                    <a class="item-delete" data-type="helmet">
                                        <i class="fas fa-trash"></i>
                                    </a>    
                                </td>
                            </tr>
                            {{else}}
                            <tr class="sheet-table-data">
                                <td></td>
                                <td><a>&nbsp</a></td>
                                <td></td>
                            </tr>
                            {{/if}}

                        </table>

                        <table class="sheet-table item-list" data-droptarget="tiny">
                            <tr class="sheet-table-header">
                                <th></th>
                                <th>
                                    {{localize "DoD.ui.character-sheet.tiny-items"}}
                                </th>
                                <th></th>
                            </tr>
                            {{#if smallItems}}
                            {{#each smallItems as |item itemId|}}
                            <tr class="sheet-table-data item" data-item-id="{{item.id}}">
                                <td>
                                </td>
                                <td>
                                    <a class="item-edit">{{item.displayName}}</a>
                                </td>
                                <td>
                                    <a class="item-delete" data-type="spell">
                                        <i class="fas fa-trash"></i>
                                    </a>            
                                </td>
                            </tr>
                            {{/each}}
                            {{else}}
                            <tr class="sheet-table-data">
                                <td></td>
                                <td><a>&nbsp</a></td>
                                <td></td>
                            </tr>
                            {{/if}}

                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
