<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header character-header">
        <div class="image-container">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <h1>
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>
        </div>
        <div class="attributes-container">
            <div class="attributes">
                <div class="attribute-panel attribute1">
                    <label class="attribute-label rollable-attribute" data-attribute="str"><a>{{localize "DoD.attributes.str"}}</a></label>
                    <input class="attribute-input" name="data.attributes.str.value" type="text" value="{{data.attributes.str.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute2">
                    <label class="attribute-label rollable-attribute" data-attribute="con"><a>{{localize "DoD.attributes.con"}}</a></label>
                    <input class="attribute-input" name="data.attributes.con.value" type="text" value="{{data.attributes.con.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute3">
                    <label class="attribute-label rollable-attribute" data-attribute="agl"><a>{{localize "DoD.attributes.agl"}}</a></label>
                    <input class="attribute-input" name="data.attributes.agl.value" type="text" value="{{data.attributes.agl.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute4">
                    <label class="attribute-label rollable-attribute" data-attribute="int"><a>{{localize "DoD.attributes.int"}}</a></label>
                    <input class="attribute-input" name="data.attributes.int.value" type="text" value="{{data.attributes.int.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute5">
                    <label class="attribute-label rollable-attribute" data-attribute="wil"><a>{{localize "DoD.attributes.wil"}}</a></label>
                    <input class="attribute-input" name="data.attributes.wil.value" type="text" value="{{data.attributes.wil.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute6">
                    <label class="attribute-label rollable-attribute" data-attribute="cha"><a>{{localize "DoD.attributes.cha"}}</a></label>
                    <input class="attribute-input" name="data.attributes.cha.value" type="text" value="{{data.attributes.cha.value}}" data-dtype="Number" />
                </div>

                <div class="conditions">
                    <div class="condition-panel condition1">
                        <input class="condition-input" name="data.conditions.str.value" type="checkbox" {{checked data.conditions.str.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.str"}}</label>
                    </div>
                    <div class="condition-panel condition2">
                        <input class="condition-input" name="data.conditions.con.value" type="checkbox" {{checked data.conditions.con.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.con"}}</label>
                    </div>
                    <div class="condition-panel condition3">
                        <input class="condition-input" name="data.conditions.agl.value" type="checkbox" {{checked data.conditions.agl.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.agl"}}</label>
                    </div>
                    <div class="condition-panel condition4">
                        <input class="condition-input" name="data.conditions.int.value" type="checkbox" {{checked data.conditions.int.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.int"}}</label>
                    </div>
                    <div class="condition-panel condition5">
                        <input class="condition-input" name="data.conditions.wil.value" type="checkbox" {{checked data.conditions.wil.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.wil"}}</label>
                    </div>
                    <div class="condition-panel condition6">
                        <input class="condition-input" name="data.conditions.cha.value" type="checkbox" {{checked data.conditions.cha.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.cha"}}</label>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="sheet-content">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
          {{!-- Default tab is specified in dod-character-sheet.js --}}
          <a class="item" data-tab="main">{{localize "DoD.ui.character-sheet.main"}}</a>
          <a class="item" data-tab="skills">{{localize "DoD.ui.character-sheet.skills"}}</a>
          {{#if hasSpells}}
          <a class="item" data-tab="abilities">{{localize "DoD.ui.character-sheet.abilities"}} {{localize "DoD.ui.character-sheet.and"}} {{localize "DoD.ui.character-sheet.spells"}}</a>
          {{else}}
          <a class="item" data-tab="abilities">{{localize "DoD.ui.character-sheet.abilities"}}</a>
          {{/if}}
          <a class="item" data-tab="inventory">{{localize "DoD.ui.character-sheet.inventory"}}</a>
          <a class="item" data-tab="background">{{localize "DoD.ui.character-sheet.background"}}</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Main Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-main.hbs" }}
            
            {{!-- Skills Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-skills.hbs" }}

            {{!-- Abilities Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-abilities.hbs" }}

            {{!-- Inventory Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-inventory.hbs" }}

            {{!-- Background Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-background.hbs" }}
        </section>
    </div>
</form>
