<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="image-container">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <h1>
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>
            </div>
        <div class="attributes-container">
            <div class="attributes">
                <div class="attribute-panel attribute1">
                    <label class="attribute-label rollable-attribute" data-attribute="str">{{localize "DoD.attributes.str"}}</label>
                    <input class="attribute-input" name="data.attributes.str.value" type="text" value="{{data.attributes.str.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute2">
                    <label class="attribute-label rollable-attribute" data-attribute="con">{{localize "DoD.attributes.con"}}</label>
                    <input class="attribute-input" name="data.attributes.con.value" type="text" value="{{data.attributes.con.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute3">
                    <label class="attribute-label rollable-attribute" data-attribute="agl">{{localize "DoD.attributes.agl"}}</label>
                    <input class="attribute-input" name="data.attributes.agl.value" type="text" value="{{data.attributes.agl.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute4">
                    <label class="attribute-label rollable-attribute" data-attribute="int">{{localize "DoD.attributes.int"}}</label>
                    <input class="attribute-input" name="data.attributes.int.value" type="text" value="{{data.attributes.int.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute5">
                    <label class="attribute-label rollable-attribute" data-attribute="wil">{{localize "DoD.attributes.wil"}}</label>
                    <input class="attribute-input" name="data.attributes.wil.value" type="text" value="{{data.attributes.wil.value}}" data-dtype="Number" />
                </div>
                <div class="attribute-panel attribute6">
                    <label class="attribute-label rollable-attribute" data-attribute="cha">{{localize "DoD.attributes.cha"}}</label>
                    <input class="attribute-input" name="data.attributes.cha.value" type="text" value="{{data.attributes.cha.value}}" data-dtype="Number" />
                </div>

                <div class="conditions">
                    <div class="condition-panel condition1">
                        <input class="condition-input" name="data.conditions.dazed.value" type="checkbox" {{checked data.conditions.dazed.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.exhausted"}}</label>
                    </div>
                    <div class="condition-panel condition2">
                        <input class="condition-input" name="data.conditions.sickly.value" type="checkbox" {{checked data.conditions.sickly.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.sickly"}}</label>
                    </div>
                    <div class="condition-panel condition3">
                        <input class="condition-input" name="data.conditions.exhausted.value" type="checkbox" {{checked data.conditions.exhausted.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.dazed"}}</label>
                    </div>
                    <div class="condition-panel condition4">
                        <input class="condition-input" name="data.conditions.angry.value" type="checkbox" {{checked data.conditions.angry.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.angry"}}</label>
                    </div>
                    <div class="condition-panel condition5">
                        <input class="condition-input" name="data.conditions.scared.value" type="checkbox" {{checked data.conditions.scared.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.scared"}}</label>
                    </div>
                    <div class="condition-panel condition6">
                        <input class="condition-input" name="data.conditions.disheartened.value" type="checkbox" {{checked data.conditions.disheartened.value}} />
                        <label class="condition-label">{{localize "DoD.conditions.disheartened"}}</label>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="sheet-content">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
          {{!-- Default tab is specified in dod-character-sheet.js --}}
          <a class="item" data-tab="main">{{localize "DoD.ui.character-sheet.main"}}</a>
          <a class="item" data-tab="skills">{{localize "DoD.ui.character-sheet.skills"}}</a>
          <a class="item" data-tab="abilities">{{localize "DoD.ui.character-sheet.abilities"}}</a>
          <a class="item" data-tab="spells">{{localize "DoD.ui.character-sheet.spells"}}</a>
          <a class="item" data-tab="combat">{{localize "DoD.ui.character-sheet.combat"}}</a>
          <a class="item" data-tab="inventory">{{localize "DoD.ui.character-sheet.inventory"}}</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Main Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-main.hbs" }}
            
            {{!-- Skills Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-skills.hbs" }}

            {{!-- Abilities Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-abilities.hbs" }}

            {{!-- Spells Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-spells.hbs" }}

            {{!-- Combat Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-combat.hbs" }}

            {{!-- Inventory Tab --}}
            {{> "systems/dragonbane/templates/partials/character-sheet-inventory.hbs" }}
        </section>
    </div>
</form>
