<div class="chat-item">
    <div class="chat-item-name">
        <h1><label>{{item.name}}</label></h1>
    </div>
    
    <div>
        <h4>{{localize "DoD.item-sheet.description"}}</h4>
        <div class="text-box-editor">
            {{{item.system.itemDescription}}}
        </div>
    </div>
</div>