<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        {{!-- Profession --}}
        <table class="sheet-table">
            <tr class="sheet-table-header">
                <th>{{localize "DoD.profession.key-attribute"}}</th>
            </tr>
            <tr class="sheet-table-data" data-item-id="{{ability.id}}">
                <td><input name="data.attribute" type="text" value="{{data.attribute}}" /></td>
            </tr>
        </table>

        <table class="sheet-table">
            <tr class="sheet-table-header">
                <th>{{localize "DoD.profession.skills"}}</th>
            </tr>
            <tr class="sheet-table-data" data-item-id="{{ability.id}}">
                <td><input name="data.skills" type="text" value="{{data.skills}}" /></td>
            </tr>
        </table>

        {{editor data.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</form>

