<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "DoD.shield.durability"}}</th>
                <th>{{localize "DoD.gear.encumbrance"}}</th>
                <th>{{localize "DoD.gear.worn"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.durability" type="text" value="{{data.durability}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.encumbrance" type="text" value="{{data.encumbrance}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.worn" type="checkbox" {{checked data.worn}} />
                </td>
            </tr>
        </table>
        {{editor data.description target="system.description" button=true owner=owner editable=editable}}
    </div>
</form>

