<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>
                    <label title="{{localize "DoD.skill.typeTooltip"}}">
                    {{localize "DoD.skill.type"}}
                    </label>
                </th>
                <th>
                    <label title="{{localize "DoD.skill.attributeTooltip"}}">
                    {{localize "DoD.skill.attribute"}}
                    </label>
                </th>
                <th>
                    <label title="{{localize "DoD.skill.hideTooltip"}}">
                    {{localize "DoD.skill.hide"}}
                    </label>
                </th>
            </tr>
            <tr>
                <td>
                    <select name="system.skillType">
                        {{#select system.skillType}}
                        {{#each config.skillTypes as |name skillType|}}
                        <option value="{{skillType}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="system.attribute">
                        {{#select system.attribute}}
                        {{#each config.attributes as |name attribute|}}
                        <option value="{{attribute}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input class="inline-edit" name="system.hideTrained" data-field="system.hideTrained" type="checkbox" {{checked system.hideTrained}} />
                </td>
            </tr>
        </table>

        {{editor system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</form>
