<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <div style="padding-left: 8px; padding-right: 8px">
        <table class="item-table">
            <tr>
                <th>
                    <label title="{{localize "DoD.skill.typeTooltip"}}">
                    {{localize "DoD.skill.type"}}
                    </label>
                </th>
                <th>
                    <label title="{{localize "DoD.skill.attributeTooltip"}}">
                    {{localize "DoD.skill.attribute"}}
                    </label>
                </th>
                <th>
                    <label title="{{localize "DoD.skill.hideTooltip"}}">
                    {{localize "DoD.skill.hide"}}
                    </label>
                </th>
            </tr>
            <tr>
                <td>
                    <select name="system.skillType">
                        {{selectOptions config.skillTypes selected=system.skillType localize=true}}
                    </select>
                </td>
                <td>
                    <select name="system.attribute">
                        {{selectOptions config.attributes selected=system.attribute localize=true}}
                    </select>
                </td>
                <td>
                    <input class="inline-edit" name="system.hideTrained" data-field="system.hideTrained" type="checkbox" {{checked system.hideTrained}} />
                </td>
            </tr>
        </table>
        </div>
        {{editor system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</form>
