<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "DoD.spell.school"}}</th>
                <th>{{localize "DoD.spell.rank"}}</th>
                <th>{{localize "DoD.spell.prerequisite"}}</th>
                <th>{{localize "DoD.spell.requirement"}}</th>
            </tr>
            <tr>
                <td>
                    <input class="edit-school" data-field="system.school" name="system.school" type="text" value="{{localize data.school}}" />
                </td>
                <td>
                    <input name="system.rank" type="text" value="{{data.rank}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.prerequisite" type="text" value="{{data.prerequisite}}" />
                </td>
                <td>
                    <input name="system.requirement" type="text" value="{{data.requirement}}" />
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th>{{localize "DoD.spell.castingTime"}}</th>
                <th>{{localize "DoD.spell.rangeType"}}</th>
                <th>{{localize "DoD.spell.range"}}</th>
                <th>{{localize "DoD.spell.duration"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.castingTime">
                        {{#select data.castingTime}}
                        {{#each config.castingTimeTypes as |name castingTime|}}
                        <option value="{{castingTime}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="system.rangeType">
                        {{#select data.rangeType}}
                        {{#each config.spellRangeTypes as |name rangeType|}}
                        <option value="{{rangeType}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    {{#if enableRange}}
                    <input name="system.range" type="text" value="{{data.range}}" data-dtype="Number" />
                    {{else}}
                    <input name="system.range" type="text" value="-" data-dtype="Number" disabled/>
                    {{/if}}
                </td>
                <td>
                    <select name="system.duration">
                        {{#select data.duration}}
                        {{#each config.spellDurationTypes as |name duration|}}
                        <option value="{{duration}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th>{{localize "DoD.spell.damage"}}</th>
                <th>{{localize "DoD.spell.damagePerPowerlevel"}}</th>
            </tr>
            
            <tr>
                <td>
                    <input name="system.damage" type="text" value="{{data.damage}}" pattern="(\-)?(\d+)?[dD](\d+)([\+\-]\d+)?|(([\+\-])?\d+)?"/>
                </td>    
                <td>
                    <input name="system.damagePerPowerlevel" type="text" value="{{data.damagePerPowerlevel}}" pattern="(\-)?(\d+)?[dD](\d+)([\+\-]\d+)?|(([\+\-])?\d+)?"/>
                </td>    
            </tr>
        </table>

        {{editor data.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</form>
