<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <div style="padding-left: 8px; padding-right: 8px">
            <table class="item-table">
            <tr>
                <th>{{localize "DoD.spell.school"}}</th>
                <th>{{localize "DoD.spell.rank"}}</th>
                <th>{{localize "DoD.spell.prerequisite"}}</th>
                <th>{{localize "DoD.spell.requirement"}}</th>
            </tr>
            <tr>
                <td>
                    <input class="edit-school" data-field="system.school" name="system.school" type="text" value="{{localize system.school}}" />
                </td>
                <td>
                    <input name="system.rank" type="text" value="{{system.rank}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.prerequisite" type="text" value="{{system.prerequisite}}" />
                </td>
                <td>
                    <input name="system.requirement" type="text" value="{{system.requirement}}" />
                </td>
            </tr>
        </table>

        <table class="item-table">
            <tr>
                <th>{{localize "DoD.spell.castingTime"}}</th>
                <th>{{localize "DoD.spell.rangeType"}}</th>
                <th>{{localize "DoD.spell.range"}}</th>
                <th>{{localize "DoD.spell.duration"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.castingTime">
                        {{selectOptions config.castingTimeTypes selected=system.castingTime localize=true}}
                    </select>
                </td>
                <td>
                    <select name="system.rangeType">
                        {{selectOptions config.spellRangeTypes selected=system.rangeType localize=true}}
                    </select>
                </td>
                <td>
                    {{#if enableRange}}
                    <input name="system.range" type="text" value="{{system.range}}" data-dtype="Number" />
                    {{else}}
                    <input name="system.range" type="text" value="-" data-dtype="Number" disabled/>
                    {{/if}}
                </td>
                <td>
                    <select name="system.duration">
                        {{selectOptions config.spellDurationTypes selected=system.duration localize=true}}
                    </select>
                </td>
            </tr>
        </table>

        <table class="item-table">
            <tr>
                <th>{{localize "DoD.spell.damage"}}</th>
                <th>{{localize "DoD.spell.damagePerPowerlevel"}}</th>
            </tr>
            
            <tr>
                <td>
                    <input name="system.damage" type="text" value="{{system.damage}}" pattern="([\+\-])?(\d+)?[dD](\d+)([\+\-]\d+)?|(([\+\-])?\d+)?"/>
                </td>    
                <td>
                    <input name="system.damagePerPowerlevel" type="text" value="{{system.damagePerPowerlevel}}" pattern="(\d+)?[dD](\d+)([\+\-]\d+)?|(([\+\-])?\d+)?"/>
                </td>    
            </tr>
        </table>
        </div>
        {{editor system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</form>
