<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "DoD.weapon.grip"}}</th>
                <th>{{localize "DoD.weapon.str"}}</th>
                <th>{{localize "DoD.weapon.range"}}</th>
                <th>{{localize "DoD.weapon.damage"}}</th>
                <th>{{localize "DoD.weapon.durability"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.grip.value">
                        {{#select data.grip.value}}
                        {{#each config.gripTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.str" type="text" value="{{data.str}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.range" type="text" value="{{data.range}}" data-dtype="Number" />
                </td>
                <td>
                    <input data-field="system.damage" name="data.damage" type="text" value="{{data.damage}}" />
                </td>
                <td>
                    <input name="data.durability" type="text" value="{{data.durability}}" data-dtype="Number" />
                </td>
        </table>
        <table>
            <tr>
                <th>{{localize "DoD.weapon.skill"}}</th>
                <th>{{localize "DoD.weapon.features"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.skill.name" type="text" value="{{data.skill.name}}" />
                </td>
                <td class="edit-weapon-features comma-list">
                    {{#each weaponFeatures as |feature|}}
                    <a title="{{localize feature.tooltip}}">{{localize feature.name}}</a>
                    {{/each}}
                </td>
        </table>
        <table>
            <tr>
                <th>{{localize "DoD.gear.cost"}}</th>
                <th>{{localize "DoD.gear.supply"}}</th>
                <th>{{localize "DoD.gear.weight"}}</th>
                <th>{{localize "DoD.gear.quantity"}}</th>
            </tr>
            </tr>
            <tr>
                <td>
                    <input name="data.cost" type="text" value="{{data.cost}}" />
                </td>
                <td>
                    <select name="data.supply">
                        {{#select data.supply}}
                        {{#each config.supplyTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.weight" type="text" value="{{data.weight}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        {{editor data.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</form>
