<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
          {{!-- Default tab is specified in item-sheet.js --}}
          <a class="item" data-tab="details">{{localize "DoD.item-sheet.details"}}</a>
          <a class="item" data-tab="description">{{localize "DoD.item-sheet.description"}}</a>
          <a class="item" data-tab="effects">{{localize "DoD.item-sheet.effects"}}</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body" style="height: 100%">
            {{!-- Details Tab --}}
            <div class="tab" data-group="primary" data-tab="details">
                <table class="item-table">
                    <tr>
                        <th>{{localize "DoD.weapon.grip"}}</th>
                        <th>{{localize "DoD.weapon.str"}}</th>
                        <th>{{localize "DoD.weapon.range"}}</th>
                        <th>{{localize "DoD.weapon.damage"}}</th>
                        <th>{{localize "DoD.weapon.durability"}}</th>
                        <th>{{localize "DoD.weapon.broken"}}</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="system.grip.value">
                                {{selectOptions config.gripTypes selected=system.grip.value localize=true}}
                            </select>
                        </td>
                        <td>
                            <input name="system.str" type="text" value="{{system.str}}" data-dtype="Number" />
                        </td>
                        <td class="flexrow">
                            <input name="system.range" type="text" value="{{system.range}}" />
                        </td>
                        <td>
                            <input name="system.damage" type="text" value="{{system.damage}}" pattern="(\d+)?[dD](\d+)([\+\-]\d+)?|(([\+\-])?\d+)?"/>
                        </td>
                        <td>
                            <input name="system.durability" type="text" value="{{system.durability}}" data-dtype="Number" />
                        </td>
                        <td>
                            <input class="inline-edit" name="system.broken" data-field="system.broken" type="checkbox" {{checked system.broken}} />
                        </td>

                </table>
                <table class="item-table">
                    <tr>
                        <th>{{localize "DoD.weapon.skill"}}</th>
                        <th>{{localize "DoD.weapon.features"}}</th>
                    </tr>
                    <tr>
                        <td>
                            <input name="system.skill.name" type="text" value="{{system.skill.name}}" />
                        </td>
                        <td class="edit-weapon-features comma-list">
                            {{#each weaponFeatures as |feature|}}
                            <a title="{{localize feature.tooltip}}">{{localize feature.name}}</a>
                            {{/each}}
                        </td>
                </table>
                <table class="item-table">
                    <tr>
                        <th>{{localize "DoD.gear.cost"}}</th>
                        <th>{{localize "DoD.gear.supply"}}</th>
                        <th>{{localize "DoD.gear.weight"}}</th>
                        <th>{{localize "DoD.gear.quantity"}}</th>
                    </tr>
                    </tr>
                    <tr>
                        <td>
                            <input name="system.cost" type="text" value="{{system.cost}}" />
                        </td>
                        <td>
                            <select name="system.supply">
                                {{selectOptions config.supplyTypes selected=system.supply localize=true}}
                            </select>
                        </td>
                        <td>
                            <input name="system.weight" type="text" value="{{system.weight}}" data-dtype="Number" />
                        </td>
                        <td>
                            <input name="system.quantity" type="text" value="{{system.quantity}}" data-dtype="Number" />
                        </td>
                    </tr>
                </table>
            </div>

            {{!-- Description Tab --}}
            <div class="tab" data-group="primary" data-tab="description" style="height: 100%">
                {{editor system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>
            
            {{!-- Effects Tab --}}
            {{> "systems/dragonbane/templates/partials/item-sheet-effects.hbs" }}
        </section>
    </div>
</form>
