<div>
    {{formGroup schema.fields.canEquipItems value=source.canEquipItems name="canEquipItems" localize=true}}
    {{formGroup schema.fields.useWorldSkills value=source.useWorldSkills name="useWorldSkills" localize=true}}
    {{formGroup schema.fields.hideNpcWpWidget value=source.hideNpcWpWidget name="hideNpcWpWidget" localize=true}}
</div>