<div>
    {{formGroup schema.fields.monsterAttackDialogIsDefault value=source.monsterAttackDialogIsDefault name="monsterAttackDialogIsDefault" localize=true}}
    {{formGroup schema.fields.viewDamagePermission value=source.viewDamagePermission name="viewDamagePermission" localize=true}}
    {{formGroup schema.fields.allowDealDamageOnSelected value=source.allowDealDamageOnSelected name="allowDealDamageOnSelected" localize=true}}
</div>