@use "../abstracts/placeholders";

.system-dragonbane {

    .sheet.item, .sheet.active-effect-sheet {

        form {
            display: flex;
            flex-direction: column;
            font-family: var(--dod-font-primary);
        }

        .window-content {
            background:url("art/ui/item-sheet-bg.webp") repeat;
            background-position: top center;
            padding: 0;
        }

        .sheet-header {
            display: flex;
            padding: 8px;

            h1 {
                background-image: url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/title-bar.webp");
                background-position: left center, right center, center center;
                background-repeat: no-repeat, no-repeat, repeat-x;
                background-size: contain, contain, contain;
                background-clip: border-box, border-box, content-box;
                padding-left: 48px;
                padding-right: 48px;
                margin: 0;
                font-size: 28px;
                font-weight: 400;
                width: 100%
            }

            input {
                color: var(--dod-color-journal-table-header);
                background: transparent;
                text-align: center;
                height: 48px;
                border: 0;
                margin: 8px;
                outline: 0;

                &:focus {
                    box-shadow: 0 0 5px var(--color-shadow-primary);
                    transition: none;
                }
            }

            img {
                border-color: transparent;
            }
        }

        nav.tabs {

            &.sheet-tabs {
                width: 100%;
                background-image: url("art/ui/table-row-banner.webp");
                background-repeat:  repeat-x;
                background-clip: border-box;
                background-size: auto 100%;
                border-color: transparent;
            }
        }

        nav.tabs [data-tab] {
            color: var(--dod-color-parchment-text);
        }
            
            

        .sheet-tab {
            height: 100%;
            padding: 0 8px;
            color: var(--dod-color-journal-text);

            input {
                background: transparent;
                text-align: center;
                outline: 0;
                color: var(--dod-color-journal-text);

                &:invalid {
                    color: var(--dod-color-invalid-input);
                }    

                &:valid {
                    color: var(--dod-color-journal-text);
                }    

            }

            select:focus, input:focus {
                box-shadow: 0 0 5px var(--color-shadow-primary);
                transition: none;
            }

            select, input[type="text"] {
                height: 2em;
                line-height: normal;
                padding: 1px 0.25em;
            }

            select {
                border-color: transparent;
                background: rgba(0, 0, 0, 0.05);
                color: var(--dod-color-journal-text);
                width: auto;
                outline: 0;
            }

            .item-table {
                border: 0;
                background: none;
                margin: 0.5em 0;

                tr {
                    background-color: transparent;
                }

                th {
                    text-align: center;
                    padding: 0.25em 0 0.25em 1em;
                    color: var(--dod-color-journal-text);
                }

                th:last-child {
                    padding-right: 20px;
                }

                tr:nth-child(1n+2) {
                    background-image: url("art/ui/table-row-left.webp"), url("art/ui/table-row-right.webp"), url("art/ui/table-row-banner.webp");
                    background-position: left center, right center, center center;
                    background-repeat: no-repeat, no-repeat, repeat-x;
                    background-size: contain, contain, contain;
                    background-clip: border-box, border-box, padding-box;
                    border-left: 8px transparent;
                    border-right: 8px transparent;

                    td {
                        text-align: center;
                        padding: 0.25em 0.25em 0.25em 1.25em;
                        max-width:200px;
                        
                        @extend %no-wrap-ellipsis;

                        input {
                            border: 0;
                            background: transparent;
                        }
                    }

                    td:nth-child(1n+2) {
                        background-image: url("art/ui/table-row-separator.webp");
                        background-position: left center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    td:last-child {
                        padding-right: 1.25em;
                    }

                    select {
                        border: 0;
                    }

                }
            }

            .text-box-editor {
                height: 100%;
            }
        }
    }
}