@font-face {
    font-family: "Crimson Text";
    font-weight: normal;
    font-style: normal;
    size-adjust: 105%;
    src: url('fonts/CrimsonText/CrimsonText-SemiBold.ttf');
}
  
@font-face {
    font-family: "Crimson Text";
    font-weight: normal;
    font-style: italic;
    size-adjust: 105%;
    src: url('fonts/CrimsonText/CrimsonText-SemiBoldItalic.ttf');
}

@font-face {
    font-family: "Crimson Text";
    font-weight: bold;
    font-style: normal;
    size-adjust: 105%;
    src: url('fonts/CrimsonText/CrimsonText-Bold.ttf');
}

@font-face {
    font-family: "Crimson Text";
    font-weight: bold;
    font-style: italic;
    size-adjust: 105%;
    src: url('fonts/CrimsonText/CrimsonText-BoldItalic.ttf');
}
  

@font-face {
    font-family: QTFrizQuad;
    src: url('fonts/QTFrizQuad/QTFrizQuad.otf');
}

@font-face {
  font-family: QTFrizQuad;
  src: url('fonts/QTFrizQuad/QTFrizQuad-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Caveat;
  src: url('fonts/Caveat/static/Caveat-Regular.ttf');
}

@font-face {
  font-family: Caveat;
  src: url('fonts/Caveat/static/Caveat-Bold.ttf');
  font-weight: bold;
}