@mixin display-actor($actor) {
    div:has(> .#{$actor}-title.named) {
        border-top: 2.75em solid transparent;
    }
    .display-#{$actor} {
        background-image: url("art/ui/separator-bottom.webp"), url("art/ui/separator-monster.webp"), url("art/ui/parchment-2columns.webp");
        background-size: auto 20px, 100% 10px, 100% auto;
        background-position: center bottom -8px, left bottom -3px, center top;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-clip: border-box, border-box, padding-box;
        padding: 5% 5% 12px 5%;
        border-bottom: 8px solid transparent;
        color: var(--dod-color-parchment-text);

        .#{$actor}-title {
            text-align: center;    
            font-size: x-large;

            .content-link {
                border: 0;
                background-color: transparent;
                color: var(--dod-color-parchment-text);

                i {
                    color: var(--color-dark-6);
                }
            }
        }
        .#{$actor}-title.named {

            .content-link {
                background: url("art/ui/npc-banner-left.webp"), url("art/ui/npc-banner-right.webp"), url("art/ui/npc-banner.webp");
                background-size: auto 100%, auto 100%, auto 100%;
                background-position: -1rem center, calc(100% + 1rem) center, center center;
                background-repeat: no-repeat, no-repeat, no-repeat;
                background-clip: border-box, border-box, padding-box;
                padding: 1.75em 1em 1em 1em;
                border-left: 1em solid transparent;
                border-right: 1em solid transparent;
                position: relative;
                top: -1em;  
                font-size: 1em;
            }
        }

        table {
            border-color: var(--dod-color-parchment-text);
            background: transparent;

            .list-row {

                div {
                    flex-shrink: 0;
                    flex-grow: 1;
                }

                div:first-child {
                    flex-shrink: 1;
                    flex-grow: 0;
                }
            }
        }
    }
}