%parchment-frame {
    height: 100%;
    width: 100%;
    background-image: url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp"), url("art/ui/parchment-vertical.webp");
    background-position: left -16px bottom, right -16px bottom, center bottom 4px, left -16px top, right -16px top, center top 4px, center center;
    background-clip: border-box, border-box, padding-box, border-box, border-box, padding-box, content-box;
    background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, no-repeat, repeat-x, repeat-y;
    background-size: auto 24px, auto 24px, auto 16px, auto 24px, auto 24px, auto 16px, 100% auto;
    padding-top: 12px;
    padding-bottom: 12px;
    border-style: solid;
    border-color: transparent;    
}

%display-item {

    h3 {
        font-size: large;
        font-weight: normal;
        text-transform: uppercase;

        .content-link {
            border: 0 solid transparent;
            background-color: transparent;
            color: var(--dod-color-journal-text);
        }
    }

    h4 {
        font-size: large;
        font-weight: bold;
        text-transform: uppercase;

        .content-link {
            border: 0 solid transparent;
            background-color: transparent;
            color: var(--dod-color-journal-text);
        }
    }

    li {
        color: var(--dod-color-text-dark-title);
    }

    span {
        color: var(--dod-color-journal-text);
    }
}

%base-table {
    border: 0;
    background: transparent;

    caption {
        width: 100%;
        height: 32px;
        left: calc(50% - 170px);
        padding: 6px 24px 12px;
        background-image: url("art/ui/text-box-title-wide-bg.webp"), url("art/ui/arrow-left.webp"), url("art/ui/arrow-right.webp"), url("art/ui/separator-middle.webp");
        background-size: contain, auto 24px, auto 24px, calc(100% - 24px) 16px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: center center, left center, right center, center center;
        background-clip: border-box, border-box, border-box, padding-box;
        color: var(--dod-color-journal-table-title);

        h2, h3 {
            text-align: center;
            text-transform: none;
            border-bottom: 0;
            font-size: 16px;
            color: var(--dod-color-journal-table-header);
        }

        .content-link, .table-roll {
            border: 0;
            background-color: transparent;

            i {
                color: inherit;
            }
        }
    }

    tr {
        color: var(--dod-color-journal-table-text);
        border-bottom: 1px solid var(--dod-color-journal-table-text);
        background: transparent;
    }

    tr:first-child {
        border-bottom: 2px solid var(--dod-color-journal-table-text);
    }

    tr:last-child {
        border-bottom: 0;
    }

    tr:nth-child(2n) {
        background-color: var(--dod-color-journal-table-tint);
    }

    td, th {
        padding: 2px;
    }  
}

%button-font {
  font-family: var(--dod-font-heading);
  font-weight: normal;
}

%button-theme {
  color: whitesmoke;
  background: url("art/ui/button-bg.webp");
  background-repeat: repeat-x;
  background-size: cover;
  background-clip: border-box;
}

%dialog-background {
    background: var(--dod-dialog-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

%base-box {
    height: 100%;
    width: 100%;
    min-width: 300px;
    padding: 6px 0 12px;
    margin: 4px 0;
    border-width: 0 26px;
    border-style: solid;
    border-color: transparent;
    position: relative;

    h2, h3 {
        position: absolute;
        width: 280px;
        height: 32px;
        left: calc(50% - 140px);
        text-align: center;
        vertical-align: middle;
        font-size: 16px;
        font-style: normal;

        .content-link {
            color: rgb(222 233 230);
        }

        border: 0 solid transparent;
        padding: 8px 24px 12px;

    }

    p {
        padding: 4px 16px 0;
        font-style: normal;
        font-size: 13px;
    }

    ol, ul {
        margin-left: 1em;
    }
}