<header class="sheet-header">
    <img data-action="editImage" data-edit="img" src="{{item.img}}" title="{{item.name}}" height="64" width="64"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
</header>