name: Create Release

on:
  push:
    branches:
      - master
    tags:
      - "*"

jobs:
  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create Zipped Artifact
        run: zip -r dragonbane.zip ./ -x ".git/*" ".gitignore" ".vscode/*" "gulpfile.js" "less/*" "scss/*" "node_modules/*" "package.json" "package-lock.json"
      - name: Create Release
        uses: ncipollo/release-action@v1.12.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: "CHANGES.md, system.json, dragonbane.zip"
          generateReleaseNotes: true
          draft: true
